﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umniah Site Acquisition</title>

    @Styles.Render("~/Content/jQuery/css")
    @Styles.Render("~/Content/bootstrap/css/style")
    @Styles.Render("~/Content/fontAwesome/css/style")
    @Styles.Render("~/Content/plugins/css/style")
    @Styles.Render("~/Content/common/css/style")
    @Styles.Render("~/Content/css")

    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jQuery")
    @Scripts.Render("~/bundles/jQueryValidation")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/common")

    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container header-content">
        @RenderSection("header", required: false)
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
