﻿@using SiteManagement.Data;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Site </title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/plugins/datatable/jquery.datatbles.min.css">*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    @Styles.Render("~/Content/jQuery/css")
    @Styles.Render("~/Content/bootstrap/css/style")
    @Styles.Render("~/Content/fontAwesome/css/style")
    @Styles.Render("~/Content/plugins/css/style")
    @Styles.Render("~/Content/common/css/style")
    @Styles.Render("~/Content/css")
    @*AIzaSyAUsO2wOuacyB9WWwhy-5LSBLP1q4sEo0Q*@
    @* <script src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDF6kIcCrkpTZHF2oyeqEq0hDDqaM72NSE&center=-33.9,151.14999999999998&zoom=12&format=png&maptype=roadmap&style=element:geometry%7Ccolor:0xf5f5f5&style=element:labels.icon%7Cvisibility:off&style=element:labels.text.fill%7Ccolor:0x616161&style=element:labels.text.stroke%7Ccolor:0xf5f5f5&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0xbdbdbd&style=feature:poi%7Celement:geometry%7Ccolor:0xeeeeee&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x757575&style=feature:poi.park%7Celement:geometry%7Ccolor:0xe5e5e5&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&style=feature:road%7Celement:geometry%7Ccolor:0xffffff&style=feature:road.arterial%7Celement:labels.text.fill%7Ccolor:0x757575&style=feature:road.highway%7Celement:geometry%7Ccolor:0xdadada&style=feature:road.highway%7Celement:labels.text.fill%7Ccolor:0x616161&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&style=feature:transit.line%7Celement:geometry%7Ccolor:0xe5e5e5&style=feature:transit.station%7Celement:geometry%7Ccolor:0xeeeeee&style=feature:water%7Celement:geometry%7Ccolor:0xc9c9c9&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&size=480x360"></script>*@
    <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key=AIzaSyAUsO2wOuacyB9WWwhy-5LSBLP1q4sEo0Q"></script>

    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jQuery")
    @Scripts.Render("~/bundles/jQueryValidation")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
</head>
<body>

    @*<div class="container example5">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
                            <span class="sr-only">Site Acquisition</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">
                            <img  style="width: 64px;" src="~/Content/Images/logo.png" />
                            Site Acquisition
                        </a>
                    </div>
                    <div id="navbar5" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">@Html.ActionLink("Sites", "Index", "Site")</li>
                            <li>@Html.ActionLink("Manage Users", "", "")</li>
                            <li>@Html.ActionLink("Sign out", "SinOut", "Home")</li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </nav>

        </div>*@
    <div class="navbar navbar-inverse navbar-fixed-top site-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <img style="width: 100px;" src="~/Content/Images/logo.png" />
                    <span class="site-header-name">Site Acquisition</span>
                </a>
                @*@Html.ActionLink("Site Acquisition", "", "", new { area = "" }, new { @class="navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse site-navbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sites", "Index", "Site")</li>
                    @if ((RoleTypeEnum)SessionManager.CurrentUser.RoleId == RoleTypeEnum.SuperAdmin)
                    {
                        <li>@Html.ActionLink("Manage Users", "ManageUsers", "User")</li>
                        <li>@Html.ActionLink("Manage Lookups", "ManageLookups", "Lookup")</li>
                    }
                    @if ((RoleTypeEnum)SessionManager.CurrentUser.RoleId == RoleTypeEnum.Admin ||
                        (RoleTypeEnum)SessionManager.CurrentUser.RoleId == RoleTypeEnum.SuperAdmin)
                    {
                        <li>@Html.ActionLink("Pending Sites", "GetAllPendingApprovalSites", "Site")</li>
                    }
                    <li>@Html.ActionLink("Sign out", "Logout", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
</body>
</html>
