﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12 error-container">
                    <!-- PAGE CONTENT BEGINS -->
                    @{
                        ErrorType? errorType = TempData["ErrorType"] as ErrorType?;
                    }
                    <div class="error-container">
                        <div class="well">
                            @if (!errorType.HasValue || errorType.Value == ErrorType.Generic)
                            {
                                <h1 class="grey lighter smaller">
                                    <span class="blue bigger-125">
                                        <i class="ace-icon fa fa-random"></i>
                                    </span>
                                    InternalServerError
                                </h1>
                                <h2 class="lighter smaller">SomethingWrong</h2>
                                if (TempData["ErrorMessage"] != null)
                                {
                                    <h4>@TempData["ErrorMessage"]</h4>
                                    <hr />
                                }
                                <h4 class="lighter smaller  error-help-message">
                                    <i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
                                    <br />
                                </h4>

                                <div class="space"></div>
                            }
                            @if (errorType.HasValue && errorType == ErrorType.InvalidRequest)
                            {
                                <h1 class="grey lighter smaller">
                                    <span class="blue bigger-125">
                                        <i class="ace-icon fa fa-random"></i>
                                    </span>
                                    Bad Request
                                </h1>

                                <h4>RequestError</h4>
                                <hr />
                            }

                            @if (errorType.HasValue && errorType == ErrorType.AnotherUserLoggedIn)
                            {
                                <h1 class="grey lighter smaller">
                                    <span class="blue bigger-125">
                                        <i class="ace-icon fa fa-random"></i>
                                    </span>
                                    Bad Request
                                </h1>

                                <h4>LoggedInUser</h4>
                                <hr />
                            }

                            <div>
                                <h4 class="lighter smaller">TryFixingSteps</h4>

                                <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                    @if (errorType.HasValue && errorType == ErrorType.AnotherUserLoggedIn)
                                    {
                                        <li>
                                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                                            ReLoginWithSuitableCredentials
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                                            ContactAdmin
                                        </li>
                                        <li>
                                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                                            GiveUseMoreInfo
                                        </li>
                                    }
                                    <li>
                                        <i class="ace-icon fa fa-hand-o-right blue"></i>
                                        GoHomePage
                                    </li>
                                </ul>
                            </div>

                            <hr />
                            <div class="space"></div>

                            <div class="center">
                                <a href="javascript:history.back()" class="btn btn-grey">
                                    <i class="ace-icon fa fa-arrow-left"></i>
                                    GoBack
                                </a>

                                <a href=@Url.Action("Index", "Home") class="btn btn-primary">
                                    <i class="ace-icon fa fa-home"></i>
                                    Home
                                </a>
                                @if (errorType.HasValue && errorType == ErrorType.AnotherUserLoggedIn)
                                {
                                    <a href=@Url.Action("LogOut", "Home") class="btn btn-primary">
                                        <i class="ace-icon fa fa-sign-out"></i>
                                        Sign Out
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div>
</div>