﻿@using SiteManagement.Models;
@using SiteManagement.Data;
@model SiteModel
@{
    bool isNew = Model.SiteId == 0;
    bool isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
}

<ul class="nav nav-tabs">
    @{
        string siteclass = Model.IsSitePendingApproval ? "pending-site-tab" : "site-tab";
        string contractclass = Model.IsContractPendingApproval ? "pending-site-tab" : "site-tab";
        string ownerclass = Model.IsOwnerPendingApproval ? "pending-site-tab" : "site-tab";
        string electricityMeterclass = Model.IsElectricityMeterPendingApproval ? "pending-site-tab" : "site-tab";
    }
    <li class="active @siteclass"><a id="siteTab" data-toggle="tab" href="#site">Site</a></li>
    <li class="@contractclass"><a id="contractTab" data-toggle="tab" href="#contracts">Contracts</a></li>
    <li class="@ownerclass"><a id="ownerTab" data-toggle="tab" href="#owners">Owners</a></li>
    <li class="@electricityMeterclass"><a id="electricityMeterTab" data-toggle="tab" href="#electricityMeters">Electricity Meters</a></li>
</ul>
<br>
<div class="tab-content">
    <div id="site" class="tab-pane fade in active">
        <div id="siteContent" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("~/Views/Site/_PartialSite.cshtml", Model)
        </div>
        <div id="siteButtons" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @if (!isReadOnly)
            {
                <button type="button" id="btnSaveSite" class="btn btn-primary">Save</button>
            }

            @if ((RoleTypeEnum)SessionManager.CurrentUser.RoleId == RoleTypeEnum.SuperAdmin)
            {
                if (!isNew)
                {
                    <button type="button" id="btnShowSiteLog" class="btn btn-primary">Show Log</button>
                }
            }
        </div>
    </div>
    <div id="contracts" class="tab-pane fade">
        <div id="contractContent" class="partial-content col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
        <hr />
        <div id="contractGrid" class="partial-grid col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>
    <div id="owners" class="tab-pane fade">
        <div id="ownerContent" class="partial-content col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
        <hr />
        <div id="ownerGrid" class="partial-grid col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>

    <div id="electricityMeters" class="tab-pane fade">
        <div id="electricityMeterContent" class="partial-content col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
        <hr />
        <div id="electricityMeterGrid" class="partial-grid col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>

    </div>

</div>

<script>
    @Html.JsMinify(@<text>

    function enableTabs() {
        $(".nav.nav-tabs > li.disabled-tab").removeClass("disabled-tab");
    };

    function disableTabs() {
        $(".nav.nav-tabs > li").not(".active").addClass("disabled-tab");
    };

    @if (isNew)
    {
        <text>
    disableTabs();
    </text>
    }

    var isContractTabLoaded = false;
    var isOwnerTabLoaded = false;
    var isEctricityMeterTabLoaded = false;

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var currentTabId = $(e.target).attr("id"); // get current tab

        console.log(currentTabId);

        if (currentTabId == "siteTab") {
            //This check is do nothing, just to prevent throwing an exception
        }
        else if (currentTabId == "contractTab") {
            if (!isContractTabLoaded) {
                @if(!isReadOnly)
                {
                    <text>
                loadContractView();
                </text>
                }
                else
                {
                    <text>
                viewContractView();
                </text>
                }
            }
        }
        else if (currentTabId == "ownerTab") {
            if (!isOwnerTabLoaded) {
                @if(!isReadOnly)
                {
                    <text>
                loadOwnerView();
                </text>
                }
                else
                {
                    <text>
                viewOwnerView();
                </text>
                }
            }
        }
        else if (currentTabId == "electricityMeterTab") {
            if (!isEctricityMeterTabLoaded) {
                @if(!isReadOnly)
                {
                    <text>
                loadEctricityMeterView();
                </text>
                }
                else
                {
                    <text>
                viewEctricityMeterView();
                </text>
                }
            }
        }
        else {
            throw currentTabId + " not support";
        }
    });

    $("#btnSaveSite").click(function () {
        onSaveSiteButtonClick();
    });

    ////////////////////////////////////////////////////////////
    //************************ Site Tab ************************

    // When save a new site or update on an exist one, set this value to true to reload the map data on close the modal
    var isDirty = false;

    function onSaveSiteButtonClick() {
        var isFormValid = $("#frmSite").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            // Show save site confirm message
            ModalManager.showConfirmModal("Are you sure you want to save the site?", null, function (modal) {
                var formData = $("#frmSite").serializeArray();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveSite", "Site")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // This variable is set to true to reload the map
                                    isDirty = true;

                                    $("#hdnSiteId").val(data.SiteId);

                                    enableTabs(true);

                                    // Show successfully saved message
                                    ModalManager.showInformationModal("The site successfully saved");
                                    break;
                                case 2:
                                    ModalManager.showErrorModal(data.MessageText);
                                    //ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmSite").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    };

    ////////////////////////////////////////////////////////////
    //********************** Contract Tab **********************

    function loadContractView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSiteContracts", "Contract")',
            data: { siteId: $("#hdnSiteId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        isContractTabLoaded = true;
                        $("#contractContent").html(data.AddContractContent);
                        $("#contractGrid").html(data.ContractGridContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function viewContractView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("ViewSiteContracts", "Contract")',
            data: { siteId: $("#hdnSiteId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        isContractTabLoaded = true;
                        $("#contractGrid").html(data.ContractGridContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    ////////////////////////////////////////////////////////////
    //************************ Owner Tab ***********************

    function loadOwnerView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSiteOwners", "Owner")',
            data: { siteId: $("#hdnSiteId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        isOwnerTabLoaded = true;
                        $("#ownerContent").html(data.AddOwnerContent);
                        $("#ownerGrid").html(data.OwnerGridContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function viewOwnerView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("ViewSiteOwners", "Owner")',
            data: { siteId: $("#hdnSiteId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        isOwnerTabLoaded = true;
                        $("#ownerGrid").html(data.OwnerGridContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    ////////////////////////////////////////////////////////////
    //******************* Ectricity Meter Tab ******************

    function loadEctricityMeterView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSiteElectricityMeters", "ElectricityMeter")',
            data: { siteId: $("#hdnSiteId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        isEctricityMeterTabLoaded = true;
                        $("#electricityMeterContent").html(data.AddElectricityMeterContent);
                        $("#electricityMeterGrid").html(data.ElectricityMeterGridContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function viewEctricityMeterView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("ViewSiteElectricityMeters", "ElectricityMeter")',
            data: { siteId: $("#hdnSiteId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        isEctricityMeterTabLoaded = true;
                        $("#electricityMeterGrid").html(data.ElectricityMeterGridContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    ////////////////////////////////////////////////////////////
    //************************ Site Log ************************

    @if ((RoleTypeEnum)SessionManager.CurrentUser.RoleId == RoleTypeEnum.SuperAdmin)
    {
        if (!isNew)
        {
            <text>
    $("#btnShowSiteLog").click(function() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetLog", "Log")',
            data: { logType: @((int)LogType.Site), id: $("#hdnSiteId").val() },
            success:
                function(data) {
                    switch (data.MessageType) {
                        case 1:
                            ModalManager.showModal(data.Content, "Site Log");
                            break;
                        case 2:
                            ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                            break;
                    }
                },
            beforeSend: function() {
                $('body').jLoadingOverlay('');
            },
            complete: function() {
                $('body').jLoadingOverlay('close');
            }
        });
    });
    </text>
        }
    }

    </text>)
</script>