﻿<div id="gmap" style="with:100%;height:580px;"></div>
<div id="controls"></div>

<script>
    @Html.JsMinify(@<text>

    var maplace;
    var maplace;
    var mapList = @Html.Raw(ViewData["mapList"]);

    $("#numberOfResults").text(mapList.length);

    $(function () {
        maplace = new Maplace({
            //locations: [{
            //    lat: 45.9,
            //    lon: 10.9,
            //    zoom: 8
            //}],
            locations: mapList,
            mapTypeId: 'satellite',
            //controls_on_map: false,
            controls_title: 'Choose a location:',
            controls_cssclass: 'umniah-site-dropdown',
            shared: {
                //zoom: 8,
                html: '%index'
            },
            styles:
                {
                    Greyscale:
                    [
                        {
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                            ]
                        },
                        {
                            "elementType": "labels.icon",
                            "stylers": [
                            {
                                "visibility": "off"
                            }
                            ]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#616161"
                            }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#bdbdbd"
                            }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#757575"
                            }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#ffffff"
                            }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#757575"
                            }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#dadada"
                            }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#616161"
                            }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                            ]
                        },
                        {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                            ]
                        },
                        {
                            "featureType": "transit.station",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#c9c9c9"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                            ]
                        }
                    ]
                    //'Satalite': [{
                    //    featureType: 'all',
                    //    stylers: [
                    //        { saturation: -100 },
                    //        { gamma: 0.50 }
                    //    ]
                    //}]
                }
        }).Load();
    });

    $(document).ready(function () {
        // Add a workaround to replace the map dropdown with select2
        // The problem is the map takes a time to be rendered on the DOM and on window load the map dropdown is not
        // rendered yet, so we create a timer that checks every 100 milliseconds if the map is created.
        var interval = setInterval(function () {
            // Search for the map dropdown on the DOM
            var siteDropdown = $(".umniah-site-dropdown");
            // if the map dropdown is rendered, add a fixed width to its parent and convert it to select2. Then stop the timer
            if (siteDropdown.length) {
                siteDropdown.parent().css("width", "300px");

                siteDropdown.select2({
                    width: "100%"
                });

                // Stop the timer
                clearInterval(interval);
            }

        }, 100);
    });

    </text>)
</script>