﻿@using SiteManagement.Models;
@model SiteFilterModel

<div>
    @using (Html.BeginForm("GetFilterMapLocations", "Site", FormMethod.Post, new { id = "frmFilterMap", @class = "form-horizontal", target = "_blank" }))
    {
        <div class="form-group col-sm-3">
            @Html.CustomLabelFor(model => model.SiteCode, new { @class = "control-label col-sm-12" })
            <div class="col-sm-12">
                @Html.TextBoxFor(model => model.SiteCode, new { @class = "form-control", id = "filterSiteName" })
            </div>
        </div>

        <div class="form-group col-sm-3">
            @Html.CustomLabelFor(model => model.SiteCity, new { @class = "control-label col-sm-12" })
            <div class="col-sm-12">
                @Html.TextBoxFor(model => model.SiteCity, new { @class = "form-control", id = "filterSiteCity" })
            </div>
        </div>

        <div class="form-group col-sm-3">
            @Html.CustomLabelFor(model => model.StreetName, new { @class = "control-label col-sm-12" })
            <div class="col-sm-12">
                @Html.TextBoxFor(model => model.StreetName, new { @class = "form-control", id = "filterStreetName" })
            </div>
        </div>

        <div class="form-group col-sm-3">
            @Html.CustomLabelFor(model => model.SiteType, new { @class = "control-label col-sm-12" })
            <div class="col-sm-12">
                @Html.Select2For(model => model.SiteType, ViewData["SiteTypes"] as IEnumerable<SelectListItem>, 
                    "Choose a Site", true, new { @class = "form-control" })
            </div>
        </div>
    }
</div>
