﻿@using SiteManagement.Models;

<ul class="nav nav-tabs">
    <li class="active"><a id="contractFilterTab" data-toggle="tab" href="#contractFilter">Contract</a></li>
    <li><a id="ownerFilterTab" data-toggle="tab" href="#ownerFilter">Owner</a></li>
    <li><a id="electricityMeterFilterTab" data-toggle="tab" href="#electricityMeterFilter">Electricity Meter</a></li>
</ul>
<br>
<div class="tab-content">
    <div id="contractFilter" class="tab-pane fade in active">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("~/Views/Contract/_PartialContractFilter.cshtml", new ContractFilterModel())
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="button" id="btnSearchContract" class="btn btn-primary">Search</button>
            <button type="button" id="btnExportContractFilterMap" class="btn btn-primary">Export</button>
        </div>
    </div>
    <div id="ownerFilter" class="tab-pane fade">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("~/Views/Owner/_PartialOwnerFilter.cshtml", new OwnerFilterModel())
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="button" id="btnSearchOwner" class="btn btn-primary">Search</button>
            <button type="button" id="btnExportOwnerFilterMap" class="btn btn-primary">Export</button>
        </div>
    </div>

    <div id="electricityMeterFilter" class="tab-pane fade">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @Html.Partial("~/Views/ElectricityMeter/_PartialElectricityMeterFilter.cshtml", new ElectricityMeterFilterModel())
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="button" id="btnSearchElectricityMeter" class="btn btn-primary">Search</button>
            <button type="button" id="btnExportElectricityMeterFilterMap" class="btn btn-primary">Export</button>
        </div>
    </div>

</div>

<script>
    @Html.JsMinify(@<text>

    ////////////////////////////////////////////////////////////
    //********************* Site Filter Tab ********************

    $("#btnSearchContract").click(function () {
        isFilterMapDirty = true;

        var formData = $("#frmContractFilterMap").serializeArray();

        $.ajax({
            type: 'post',
            url: '@Url.Action("GetFilterMapLocations", "Contract")',
            data: formData,
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        if (data.IsHaveResult) {
                            $("#mapsContainer").html(data.Content);
                            advanceFilterModal.close();
                        }
                        else {
                            ModalManager.showWarningModal("There no locations match with this criteria");
                        }
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    });

    $("#btnSearchOwner").click(function () {
        isFilterMapDirty = true;

        var formData = $("#frmOwnerFilterMap").serializeArray();

        $.ajax({
            type: 'post',
            url: '@Url.Action("GetFilterMapLocations", "Owner")',
            data: formData,
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        if (data.IsHaveResult) {
                            $("#mapsContainer").html(data.Content);
                            advanceFilterModal.close();
                        }
                        else {
                            ModalManager.showWarningModal("There no locations match with this criteria");
                        }
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    });

    $("#btnSearchElectricityMeter").click(function () {
        isFilterMapDirty = true;

        var formData = $("#frmElectricityMeterFilterMap").serializeArray();

        $.ajax({
            type: 'post',
            url: '@Url.Action("GetFilterMapLocations", "ElectricityMeter")',
            data: formData,
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        if (data.IsHaveResult) {
                            $("#mapsContainer").html(data.Content);
                            advanceFilterModal.close();
                        }
                        else {
                            ModalManager.showWarningModal("There no locations match with this criteria");
                        }
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    });

    function onSaveSiteButtonClick() {
        var isFormValid = $("#frmSite").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            // Show save site confirm message
            ModalManager.showConfirmModal("Are you sure you want to save the site?", null, function (modal) {
                var formData = $("#frmSite").serializeArray();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveSite", "Site")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // This variable is set to true to reload the map
                                    isDirty = true;

                                    $("#hdnSiteId").val(data.SiteId);

                                    enableTabs(true);

                                    // Show successfully saved message
                                    ModalManager.showInformationModal("The site successfully saved");
                                    break;
                                case 2:
                                    ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmSite").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    };

    ////////////////////////////////////////////////////////////
    //********************** Contract Tab **********************

    function loadContractView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSiteContracts", "Contract")',
            data: { siteId: $("#hdnSiteId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        isContractTabLoaded = true;
                        $("#contractContent").html(data.AddContractContent);
                        $("#contractGrid").html(data.ContractGridContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    ////////////////////////////////////////////////////////////
    //************************ Owner Tab ***********************

    function loadOwnerView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSiteOwners", "Owner")',
            data: { siteId: $("#hdnSiteId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        isOwnerTabLoaded = true;
                        $("#ownerContent").html(data.AddOwnerContent);
                        $("#ownerGrid").html(data.OwnerGridContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    ////////////////////////////////////////////////////////////
    //******************* Ectricity Meter Tab ******************

    function loadEctricityMeterView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetSiteElectricityMeters", "ElectricityMeter")',
            data: { siteId: $("#hdnSiteId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        isEctricityMeterTabLoaded = true;
                        $("#electricityMeterContent").html(data.AddElectricityMeterContent);
                        $("#electricityMeterGrid").html(data.ElectricityMeterGridContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    ////////////////////////////////////////////////////////////
    //******************* Export Map Locations *****************

    $("#btnExportContractFilterMap").click(function () {
        exportMap('@Url.Action("ExportFilterMapLocations", "Contract")', 'frmContractFilterMap');
    });

    $("#btnExportOwnerFilterMap").click(function () {
        exportMap('@Url.Action("ExportFilterMapLocations", "Owner")', 'frmOwnerFilterMap');
    });

    $("#btnExportElectricityMeterFilterMap").click(function () {
        exportMap('@Url.Action("ExportFilterMapLocations", "ElectricityMeter")', 'frmElectricityMeterFilterMap');
    });

    function exportMap(url, formId) {
        isFilterMapDirty = true;

        var formData = $("#" + formId).serializeArray();

        $.ajax({
            type: 'post',
            url: url,
            data: formData,
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        window.location = data.Url;
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    </text>)
</script>