﻿@using SiteManagement.Data;
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<br />
<br />
<br />
<table id="siteTable" class="hover">
    <thead>
        <tr>
            <th>Site Code</th>
            <th>Site Name</th>
            <th>Site Type</th>
            <th>Add \ Edit by</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    @Html.JsMinify(@<text>
    var siteTable;

    var siteGridData = @Html.Raw(ViewData["pendingSiteList"]);

    var currentSiteClickedRow;

    $(document).ready(function () {
        siteTable = $("#siteTable").dataTable({
            responsive: true,
            data: siteGridData,
            "searching": true,
            "bPaginate": true,
            columns: [
                { data: 'SiteCode' },
                { data: 'SiteName' },
                { data: 'SiteType' },
                { data: 'EditedMemberName' },
                { data: 'ApprovalStatus' },
                //{ data: 'iban' },
                { data: 'button' }
            ],
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<div class='btn btn-primary btn-approve'>Approve</div> <div class='btn btn-primary btn-reject'>Reject</div>  <div class='btn btn-primary btn-details'>Details</div>"
            }]
        });

        siteTable.find('tbody').on('click', '.btn-approve', function () {
            var tr = $(this).parents('tr');
            currentSiteClickedRow = siteTable.api().row(tr);
            var rowData = currentSiteClickedRow.data();
            onApproveBtnClick(tr, rowData);
        });

        siteTable.find('tbody').on('click', '.btn-reject', function () {
            var tr = $(this).parents('tr');
            var rowData = siteTable.api().row($(this).parents('tr')).data();
            onRejectBtnClick( tr, rowData);
        });

        siteTable.find('tbody').on('click', '.btn-details', function () {
            var tr = $(this).parents('tr');
            var rowData = siteTable.api().row($(this).parents('tr')).data();
            onDetailsBtnClick(rowData.Id);
        });

    });

    function enableOwnerGridButtons(isEnable) {
        var gridButtons = siteTable.find(".btn-edit, .btn-delete");
        isEnable ? gridButtons.removeClass("disabled") : gridButtons.addClass("disabled");
    };

    function addOwnerGridRow(rowData) {
        siteTable.fnAddData([rowData]);
    };

    function editOwnerGridRow(rowData) {
        siteTable.api().row(currentSiteClickedRow).data(rowData).invalidate();
        currentSiteClickedRow = null;
    };

    function deleteSiteFromGridRow(tr) {
        siteTable.fnDeleteRow(siteTable.fnGetPosition(tr[0]));
    };

    function onRejectBtnClick(tr , rowData) {
        ModalManager.showConfirmModal("Are you sure you want to reject this site?", null, function (modal) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("RejectSite", "Site")',
                data: { id: rowData.Id },
                success:
                    function (data) {
                        switch (data.MessageType) {
                            case 1:
                                // Delete site from site grid
                                deleteSiteFromGridRow(tr);

                                // Show successfully deleted message
                                ModalManager.showInformationModal("The site successfully rejected");
                                break;
                            case 2:
                                ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                break;
                        }
                    },
                error: function (data) {
                },
                beforeSend: function () {
                    $('body').jLoadingOverlay('');
                },
                complete: function () {
                    $('body').jLoadingOverlay('close');
                }
            });

            modal.close();
        });
    };

    function onApproveBtnClick(tr, rowData) {
        ModalManager.showConfirmModal("Are you sure you want to approve this site?", null, function (modal) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("ApproveSite", "Site")',
                data: { id: rowData.Id },
                success:
                    function (data) {
                        switch (data.MessageType) {
                            case 1:
                                // Delete owner from uesrs grid
                                deleteSiteFromGridRow(tr);

                                // Show successfully deleted message
                                ModalManager.showInformationModal("The site successfully approved");
                                break;
                            case 2:
                                ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                break;
                        }
                    },
                error: function (data) {
                },
                beforeSend: function () {
                    $('body').jLoadingOverlay('');
                },
                complete: function () {
                    $('body').jLoadingOverlay('close');
                }
            });

            modal.close();
        });
    };

    function onDetailsBtnClick(siteId) {
        // This method will open a popup with partial site view filled with data
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetPendingSiteById", "Site")',
            data: { siteId: siteId },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        var title = data.SiteName ;
                        ModalManager.showModal(data.Content, title, null, {
                            fullscreen: true, onClosing:
                                    function () {
                                        //TODO_khaled remove from table
                                        //onSiteModalClosing();
                                    }
                        });
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    </text>)
</script>