﻿body {
    background: #e9e9e9;
    color: #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
    padding: 50px 0 15px;
    text-align: center;
    letter-spacing: 2px;
}

    .pen-title img {
        width: 150px;
    }

    .pen-title .site-name {
        padding-top: 15px;
        font-size: 16px;
        color: #b0aa17;
    }

    .pen-title h1 {
        margin: 0 0 20px;
        font-size: 48px;
        font-weight: 300;
    }

    .pen-title span {
        font-size: 12px;
    }

        .pen-title span .fa {
            color: #33b5e5;
        }

        .pen-title span a {
            color: #33b5e5;
            font-weight: 600;
            text-decoration: none;
        }

/* Form Module */
.form-module {
    position: relative;
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #eae44c;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

    .form-module .toggle {
        position: absolute;
        top: -0;
        right: -0;
        background: #eae44c;
        width: 30px;
        height: 30px;
        margin: -5px 0 0;
        color: #ffffff;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
    }

        .form-module .toggle .tooltip {
            position: absolute;
            top: 5px;
            right: -65px;
            display: block;
            background: rgba(0, 0, 0, 0.6);
            width: auto;
            padding: 5px;
            font-size: 10px;
            line-height: 1;
            text-transform: uppercase;
        }

            .form-module .toggle .tooltip:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                display: block;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 5px solid rgba(0, 0, 0, 0.6);
            }

    .form-module .form {
        display: none;
        padding: 40px;
    }

        .form-module .form:nth-child(2) {
            display: block;
        }

    .form-module h2 {
        margin: 0 0 20px;
        color: #d6ce0e;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
    }

    .form-module input {
        outline: none;
        display: block;
        width: 100%;
        border: 1px solid #d9d9d9;
        /*margin: 0 0 20px;*/
        padding: 10px 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-wieght: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .form-module input:focus {
            border: 1px solid #33b5e5;
            color: #333333;
        }

    .form-module button {
        cursor: pointer;
        /*background: #33b5e5;*/
        width: 100%;
        border: 0;
        padding: 10px 15px;
        color: #ffffff;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .form-module button:hover {
            /*background: #178ab4;*/
        }

    .form-module .cta {
        background: #f2f2f2;
        width: 100%;
        padding: 15px 40px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #666666;
        font-size: 12px;
        text-align: center;
    }

        .form-module .cta a {
            color: #333333;
            text-decoration: none;
        }

.input-container {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 15px;
}

.message-container {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;
}