﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.pending-site-tab {
    color: blue !important;
}

    .pending-site-tab ::after {
        content: ' *';
        color: red !important;
    }

.site-header {
    z-index: 1 !important;
    background: transparent !important;
    font: bold !important;
    border: none;
    background-color: #e6e6e6 !important;
    border-bottom: 1px solid #cdcdcd;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/*Fix bug on iziModal, remove some styles that is added by iziModal */
html.iziModal-isOverflow body, html.iziModal-isAttached body {
    position: initial !important;
    overflow-y: initial !important;
}

.maps-main-div {
    padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.site-buttons-container {
    border-top: 2px solid #e6e6e6;
}

    .site-buttons-container > .container {
        position: relative;
    }

.btn.btn-sm {
    font-size: 11px;
}

.show-filter-btn {
    position: absolute;
    left: 0;
    bottom: -10px;
    border: none;
    z-index: 1;
    color: #8a8a8a;
    font-weight: bold;
}

    .show-filter-btn:hover, .show-filter-btn:active, .show-filter-btn:focus {
        background-color: #fafafa;
        background-position: unset;
    }

a.show-filter-btn:hover, a.show-filter-btn:active, a.show-filter-btn:focus {
    color: #8a8a8a !important;
}

.circle-icon-container {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    border: 1px solid;
    color: white;
    text-align: center;
    display: table;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: -30px;
    font-size: 25px;
    /*background-color: #eae44c;*/
}

.add-site-icon-container {
    right: 140px;
}

.import-file-icon-container {
    right: 70px;
    font-size: 14px;
}

.theft-report-icon-container {
    right: 0px;
}

    .circle-icon-container:hover {
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        /*background-color: #e6e03f;*/
        /*border-color: #c1bb11;
            background-color: #c5bf0d;*/
    }

.circle-icon {
    display: table-cell;
    vertical-align: middle;
}

.map-filter-container {
    background-color: #f8f8f8;
    padding-bottom: 7px;
}

.map-filter-form-container {
    padding-top: 5px;
}

.maps-container {
    padding-left: 0;
    padding-right: 0;
}

    .maps-container > div {
        width: 100%;
    }

.disabled-tab > a {
    color: #b1b1b1 !important;
    cursor: default;
    pointer-events: none;
}

.collapse-body {
    height: 250px;
    overflow-y: scroll;
}

.isFullscreen .collapse-body {
    height: 480px;
}

.maps-popup-buttons-container {
    text-align: center;
}


.action-log-container {
    margin-top: 10px;
}

    .action-log-container .row {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
    }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*Commented by Nemah*/
/*input,
select,
textarea {
    max-width: 280px;
}*/

.site-navbar {
    float: right !important;
}

/*.example5 .navbar-brand {
    display: flex;
    align-items: center;
}

    .example5 .navbar-brand > img {
        padding: 7px 14px;
    }*/

.marker-info-img {
    margin-bottom: 5px;
    margin-right: 5px;
    width: 16px;
    height: 26px;
}


.banner {
    position: relative;
    overflow: hidden;
    /*height: 10vmax;*/
    height: 100px;
    /*text-transform: uppercase;*/
    /*font-size: 1.2em;*/
    font-weight: 400;
    color: #ffffff;
    top: -50px;
}

.banner::before, .banner::after {
    content: "";
    position: absolute;
    width: 110%;
    /*height: 10vmax;*/
    height: 100px;
}

.banner::before {
    left: -1%;
    /*background: rgba(0, 114, 255, 0.5);
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(0, 114, 255, 0.5)), to(rgba(0, 91, 204, 0.5)));
    background: linear-gradient(to right, rgba(0, 114, 255, 0.5) 15%, rgba(0, 91, 204, 0.5) 100%);*/
    /*background: rgba(255, 251, 160, 0.5);
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(255, 251, 160, 0.5)), to(rgba(191, 151, 14, 0.5)));
    background: linear-gradient(to right, rgba(255, 251, 160, 0.5) 15%, rgba(191, 151, 14, 0.5) 100%);*/
    background: rgba(255, 251, 160, 0.5);
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(255, 251, 160, 0.5)), to(rgba(255, 255, 255, 0.5)));
    background: linear-gradient(to right, rgba(255, 251, 160, 0.5) 15%, rgba(255, 255, 255, 0.5) 100%);
    z-index: 10;
    -webkit-transform: rotate(-1deg);
    /*transform: rotate(-2deg);*/
    transform: rotate(-1deg);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.banner::after {
    right: -1%;
    background: #ded844;
    background: -webkit-gradient(linear, left top, right top, color-stop(15%, #ded844), to(#b0ac32));
    background: linear-gradient(to right, #ded844 15%, #b0ac32 100%);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}

.banner .banner--text {
    position: absolute;
    top: 20%;
    /*left: 5vmax;*/
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 50;
    text-align: left;
    /*font-size: 2.5vmax;*/
    font-size: 16px;
    line-height: 2.85714286vmax;
    width: 100%;
    color: white !important;
}

.site-title {
    text-align: center;
    padding-bottom: 5px;
}