﻿.site-header-name {
    position: relative;
    top: 13px;
    left: 3px;
}

a:hover {
    color: #e2dc41 !important;
}

a:focus {
    color: #d2cc42 !important;
}

.btn-primary, 
.umniah-btn {
    background-color: #dcd520;
    border-color: #d4cc0f;
    background-image: -webkit-linear-gradient(top, #e6e04d 0%, #c5bf29 100%);
    background-image: -o-linear-gradient(top, #e6e04d 0%, #c5bf29 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e04d), to(#c5bf29));
    background-image: linear-gradient(to bottom, #e6e04d 0%, #c5bf29 100%);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, 
 .umniah-btn:hover, .umniah-btn:focus, .umniah-btn:active, .open .dropdown-toggle.umniah-btn {
    border-color: #c1bb11;
}

.btn-primary:hover, .btn-primary:focus, 
.umniah-btn:hover, .umniah-btn:focus {
    background-color: #c5bf0d;
}

.btn-primary:active, .btn-primary.active
.umniah-btn:active, .umniah-btn.active {
    background-color: #d6ce0e;
}

.btn-primary:hover, .btn-primary:focus {
    /*background-color: #dcd520;*/
}

.btn-primary.disabled {
    background-color: #aaa31c;
    border-color: #cbc52f;
}

.nav-tabs > li > a {
    color: #a09a00;
}

.iziModal {
    border-bottom: 3px solid #d3cb63 !important;
}

    .iziModal .iziModal-header.iziModal-noSubtitle {
        background: radial-gradient(#faec53, #bfbb6a) !important;
    }

.form-control:focus {
    border-color: #dcd520 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(232, 231, 200);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(232, 231, 200);
}

.form-control.input-validation-error:focus {
    border-color: red !important;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 231, 200, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 231, 200, 0.6);
    border-color: #dcd520;
}

.select2-container--bootstrap .select2-dropdown {
    border-color: #dcd520;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #f9f8d9;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #dcd520;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true]:before {
    color: #dcd520;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]:before {
    color: #f3f8fd;
}

.ui-control-datetime-picker:focus ~ .input-group-addon {
    border-color: #dcd520;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(232, 231, 200);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(232, 231, 200);
    background-color: #dcd520;
}

.default-modal .modal-close-button {
    color: #cbc530 !important;
}