﻿@using SiteManagement.Models;
@model OwnerModel
@{
    bool isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
}

<div>
    @using (Html.BeginForm("Add", "Owner", FormMethod.Post, new { id = "frmOwner", @class = "form-horizontal", target = "_blank" }))
    {
        @Html.HiddenFor(model => model.OwnerSiteId, new { id = "hdnOwnerSiteId" })
        @Html.HiddenFor(model => model.OwnerId, new { id = "hdnOwnerId" })

        <div class="form-group">
            @Html.CustomLabelFor(model => model.FullName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.OwnerCode, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.OwnerCode, new { @class = "form-control" })
                </div>
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.ValidationMessageFor(model => model.OwnerCode, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.PrimaryPhone, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.PrimaryPhone, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.PrimaryPhone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.SecondaryPhone, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.SecondaryPhone, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.SecondaryPhone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.Email, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                </div>
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.BankName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.BankName, new { @class = "form-control" })
                </div>
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.BankBranch, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.BankBranch, new { @class = "form-control" })
                </div>
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.ValidationMessageFor(model => model.BankBranch, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.AccountNumber, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control" })
                </div>
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.IsPay, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.IsPay, false, new { id = "chkIsPay" })
                </div>
            </div>
        </div>

        <div class="form-group" id="divIBAN" style="display: none;">
            @Html.CustomLabelFor(model => model.IBAN, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.IBAN, new { @class = "form-control" })
                </div>
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.ValidationMessageFor(model => model.IBAN, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.Percentage, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DecimalInputFor(model => model.Percentage, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.PercentageOfMonyReseaved, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DecimalInputFor(model => model.PercentageOfMonyReseaved, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.PercentageOfMonyReseaved, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>




        <div class="form-group">
            @Html.CustomLabelFor(model => model.IsInventoryofLegacy, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.IsInventoryofLegacy, false, new { id = "chkIsInventoryofLegacy" })
                </div>
            </div>
        </div>

        <div class="form-group" id="divInventoryofLegacyFile" style="display: none;">
            @Html.CustomLabelFor(model => model.InventoryofLegacyJson, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.UploadFileFor(model => model.InventoryofLegacyJson, true, Url.Action("DownloadFile", "File"))
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.CustomLabelFor(model => model.Note, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.Note, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.Nationaity, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    @Html.Select2For(model => model.Nationaity, ViewData["Nationaities"] as IEnumerable<SelectListItem>,
                            "Choose a nationality", true, new { @class = "form-control" })

                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.NationalId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.NationalId, new { @class = "form-control" })
                </div>
            </div>
        </div>
    }
</div>

<script>
    @Html.JsMinify(@<text>

    @if (isReadOnly)
    {
        <text>
        $("#frmOwner :input").attr("disabled", "disabled");
        </text>
    }
    else
    {
    <text>

    $("#chkIsInventoryofLegacy").change(function () {
        if ($(this).is(":checked")) {
            $("#divInventoryofLegacyFile").show();
        }
        else {
            $("#divInventoryofLegacyFile").hide();
        }
    });
    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#frmOwner"));
        $("#chkIsInventoryofLegacy").change();
    });



    $("#chkIsPay").change(function () {
        if ($(this).is(":checked")) {
            $("#divIBAN").show();
        }
        else {
            $("#divIBAN").hide();
        }
    });

    // For the first time, if the form is in update mode
    if ($("#chkIsPay").is(":checked")) {
        $("#divIBAN").show();
    }
    </text>
    }

    </text>)
</script>