﻿@using SiteManagement.Models;
@model OwnerModel

<div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" href="#addOwnerCollapse">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#addOwnerCollapse">Add Owner</a>
                </h4>
            </div>
            <div id="addOwnerCollapse" class="panel-collapse collapse in">
                <div class="panel-body collapse-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.Partial("~/Views/Owner/_PartialOwner.cshtml", Model)
                    </div>
                </div>
                <br />
                <div id="ownerButtons" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" id="btnAddOwner" class="btn btn-primary">Add</button>
                </div>
                <br />
            </div>
        </div>
    </div>

</div>
<script>
    @Html.JsMinify(@<text>

    $("#btnAddOwner").click(function () {
        onAddOwnerButtonClick();
    });

    function onAddOwnerButtonClick() {
        var isFormValid = $("#frmOwner").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            // Show add owner confirm message
            ModalManager.showConfirmModal("Are you sure you want to add a new owner?", null, function (modal) {
                // For the first time, get siteId from site form and set it to owner form
                var siteId = $("#hdnSiteId").val();
                $("#hdnOwnerSiteId").val(siteId);

                var formData = $("#frmOwner").serializeArray();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveOwner", "Owner")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // Reset the owner form
                                    $("#frmOwner")[0].reset();

                                    // Add the added owner to owner grid
                                    addOwnerGridRow(JSON.parse(data.OwnerJsonData));

                                    // Show successfully added message
                                    ModalManager.showInformationModal("The owner successfully added");
                                    break;
                                case 2:
                                    ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmOwner").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    };

    </text>)
</script>