﻿@{
    bool isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
}

@*<div class="row">
    <div class="table-responsive">*@
<table id="ownerTable" class="hover">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Primary Phone</th>
            @*<th>Secondary Phone</th>*@
            <th>Email</th>
            @*<th>Account Number</th>*@
            @*<th>IBAN</th>*@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@*</div>
    </div>*@
<script>
    @Html.JsMinify(@<text>
    var ownerTable;

    var ownerGridData = @Html.Raw(ViewData["ownerGridData"]);

    var currentOwnerClickedRow;

    $(document).ready(function () {
        ownerTable = $("#ownerTable").dataTable({
            responsive: true,
            data: ownerGridData,
            "searching": false,
            "bPaginate": false,
            columns: [
                { data: 'fullName' },
                { data: 'primaryPhone' },
                //{ data: 'secondaryPhone' },
                { data: 'email' },
                //{ data: 'accountNumber' },
                //{ data: 'iban' },
                { data: 'button' }
            ],
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": @isReadOnly.ToString().ToLower() ? "<div class='btn btn-primary btn-view'>View</div>" :
                            "<div class='btn btn-primary btn-edit'>Edit</div> <div class='btn btn-primary btn-delete'>Delete</div>"
                }]
        });

        @if (!isReadOnly)
                {
                    <text>
        ownerTable.find('tbody').on('click', '.btn-edit', function () {
            currentOwnerClickedRow = ownerTable.api().row($(this).parents('tr'));
            var rowData = currentOwnerClickedRow.data();
            onEditOwnerBtnClick(rowData);
        });

        ownerTable.find('tbody').on('click', '.btn-delete', function () {
            var tr = $(this).parents('tr');
            var rowData = ownerTable.api().row($(this).parents('tr')).data();
            onDeleteOwnerBtnClick($(this).parents('tr').get(0), rowData);
        });
        </text>
    }
    else
    {
        <text>
        ownerTable.find('tbody').on('click', '.btn-view', function () {
            var rowData = ownerTable.api().row($(this).parents('tr')).data();
            onViewOwnerBtnClick(rowData);
        });
        </text>
    }
    });

    function enableOwnerGridButtons(isEnable) {
        var gridButtons = ownerTable.find(".btn-edit, .btn-delete");
        isEnable ? gridButtons.removeClass("disabled") : gridButtons.addClass("disabled");
    };

    function addOwnerGridRow(rowData) {
        ownerTable.fnAddData([rowData]);
    };

    function editOwnerGridRow(rowData) {
        ownerTable.api().row(currentOwnerClickedRow).data(rowData).invalidate();
        currentOwnerClickedRow = null;
    };

    function deleteOwnerFromGridRow(tr) {
        ownerTable.fnDeleteRow(ownerTable.fnGetPosition(tr));
    };

    function onEditOwnerBtnClick(rowData) {
        // Disable all grid buttons
        enableOwnerGridButtons(false);

        // This method will open a popup with partial owner view
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetEditOwnerView", "Owner")',
            data: { ownerId: rowData.id },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        $("#ownerContent").html(data.EditOwnerContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function onViewOwnerBtnClick(rowData) {
        // This method will open a popup with partial owner view
        $.ajax({
            type: 'post',
            url: '@Url.Action("ViewOwner", "Owner")',
            data: { ownerId: rowData.id },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        $("#ownerContent").html(data.EditOwnerContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function onDeleteOwnerBtnClick(tr, rowData) {
        ModalManager.showConfirmModal("Are you sure you want to delete this owner?", null, function (modal) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("DeleteOwner", "Owner")',
                data: { ownerId: rowData.id },
                success:
                    function (data) {
                        switch (data.MessageType) {
                            case 1:
                                // Delete owner from uesrs grid
                                deleteOwnerFromGridRow(tr);

                                // Show successfully deleted message
                                ModalManager.showInformationModal("The owner successfully deleted");
                                break;
                            case 2:
                                ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                break;
                        }
                    },
                error: function (data) {
                },
                beforeSend: function () {
                    $('body').jLoadingOverlay('');
                },
                complete: function () {
                    $('body').jLoadingOverlay('close');
                }
            });

            modal.close();
        });
    };

    </text>)
</script>
