﻿.required-label:after {
    content: " *";
    color: red;
}

.ui-control-select2.control-validation-error + .select2 .select2-selection {
    border: 1px solid red !important;
}

/*.select2-selection--multiple .select2-search--inline .select2-search__field {
    min-width: 10em !important;
}*/

.ui-control-datetime-picker:focus ~ .input-group-addon {
    color: white;
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    background-color: #66afe9;
}

.ui-control-datetime-picker.input-validation-error ~ .input-group-addon {
    color: white;
    border-color: red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    background-color: red;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true]:before {
    margin-right: 5px;
    margin-left: -5px;
    content: "✓";
    color: #2f7abb;
    font-weight: bold;
    font-size: 14px;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #e4ecf5;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #337ab7;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]:before {
    color: #f3f8fd;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    width: auto !important;
}

/*.select2-search__field {
    width: auto !important;
}*/

.editable-select2-container {
    padding-left: 0;
    padding-right: 0;
}

.editable-select2-button-container {
    padding-right: 0;
}

.editable-select2-button {
    width: 100%;
}

.add-new-option-inner-btn {
    text-align: center;
}

.date-range-control .start-date-row {
    margin-right: 0;
}

.date-range-control .end-date-row {
    margin-left: 0;
}