﻿
.upload-file-container {
    position: relative;
    border: 1px solid #cccccc;
    min-height: 36px;
    position: relative;
    width: 100%;
}

    .upload-file-container.control-validation-error {
        border-color: red;
    }

    .upload-files-blocks {
        padding-bottom: 4px;
    }

    .upload-file-block {
        font-size: 15px;
    }

    /*.upload-file-block.control-validation-error {
        border-color: red;
    }*/

        .upload-file-download-file-icon {
            font-size: 20px;
            color: #428bca;
        }

        .upload-file-name-container {
            display: inline-block;
            /*Set the link width to 90% and cut the text if it's length grater than that width (so replace the rest of the text with dots '...') */
            max-width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 5px;
            margin-right: 5px;                
            position: relative;
            top: 4px;
        }

        .upload-file-name-container.allow-download {

        }

            .upload-file-name-link {
                cursor: default;
            }

            .upload-file-name-link.allow-download {
                color: #428bca;
                text-decoration: underline;
                cursor: pointer;
            }

                .upload-file-name-link.allow-download:hover {
                    text-decoration: underline;
                }

            .upload-file-name-link:not(.allow-download) {
                text-decoration: none;
                color: #428bca !important;
            }

        .upload-file-upload-button {
            float: right;
        }

        .upload-file-upload-button.disabled {
            pointer-events: none;
        }

    .upload-file-remove-file {
        cursor: pointer;
        line-height: 15px;
        font-size: 16px;
        font-weight: 400;
        color: red;
    }

    /******** Direction - Right to Left ********/
        .upload-file-download-file-icon.dir-rtl {
            left: inherit;
            right: 7px;
        }

        .upload-file-name-container.dir-rtl {
            left: inherit;
            right: 10px;
        }

        .upload-file-name-container.dir-rtl.allow-download {
            left: inherit;
            right: 40px !important;
        }

        .upload-file-upload-button.dir-rtl {
            right: inherit;
            left: 2px;
        }

    .upload-file-remove-file.dir-rtl {
        right: inherit;
        left: 100px;
    }
    /*******************************************/

    @media (max-width: 480px) {
        .upload-file-name-container {
            max-width: 45%;
        }

        .upload-file-remove-file {
            right: 45px;
        }

        .upload-file-remove-file.dir-rtl {
            right: inherit;
            left: 45px;
        }

        /***** On small devices modify the upload button text to dots '...' to minimize the button width and allow the rest of control to expand and get more space *****/
        .upload-file-upload-button {
            min-width: 37px;
            text-indent: -9999px;
            line-height: 0; /* Collapse the original line */
        }
        .upload-file-upload-button:after {
            content: '...';
            text-indent: 0;
            display: block;
            line-height: initial; /* New content takes up original line height */
        }

    }/*@media end*/
