﻿@using SiteManagement.Models;
@model UserModel

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    @Html.Partial("~/Views/User/_PartialUser.cshtml", Model)
</div>
<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" id="btnEditUser" class="btn btn-primary">Edit</button>
    <button type="button" id="btnCancel" class="btn btn-primary">Cancel</button>
</div>

<script>

    $("#btnEditUser").click(function () {
        onEditUserButtonClick();
    });

    $('#btnCancel').click(function () {
        editUserModal.close();
    });

    function onEditUserButtonClick() {
        var isFormValid = $("#frmUser").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            // Show add contract confirm message
            ModalManager.showConfirmModal("Are you sure you want to edit this user?", null, function (modal) {
                var formData = $("#frmUser").serializeArray();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveUser", "User")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // Edit the updated user in users grid
                                    editUserGridRow(JSON.parse(data.UserJsonData));

                                    // Show successfully updated message
                                    ModalManager.showInformationModal("The user successfully updated");

                                    // Close the main modal (user modal)
                                    // Important Note: We cached the edit user modal inside a variable to close it here
                                    editUserModal.close();
                                    break;
                                case 2:
                                    ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmUser").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    };

</script>