﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Users
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <br />
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" id="addUser" class="btn btn-primary">Add new user</button>
                </div>
                <br /><br /><br />
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        @Html.Partial("~/Views/User/UserGrid.cshtml")
                    </div>
                </div>
                <div class="box-body">

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // On add site button click
    var addUserModal;
    $("#addUser").click(function () {
        // This method will open a popup with partial user view
        $.ajax({
            type: 'post',
            url: '@Url.Action("NewUser", "User")',
            data: null,
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        // Important Note: We cached the new user modal inside a variable to close it when add user button click
                        addUserModal = ModalManager.showModal(data.Content, 'New User', null, { fullscreen: true });
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    });

    //</text>)
</script>


