﻿<table id="userTable" class="hover">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    @Html.JsMinify(@<text>
    var userTable;

    var userGridData = @Html.Raw(ViewData["UserData"]);

    var currentClickedRow;
    $(document).ready(function () {
        userTable = $("#userTable").dataTable({
            responsive: true,
            data: userGridData,
            columns: [
                { data: 'fullName' },
                { data: 'userName' },
                { data: 'button' }
            ],
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<div class='btn btn-primary btn-edit'>Edit</div> <div class='btn btn-primary btn-delete'>Delete</div>"
            }]
        });

        userTable.find('tbody').on('click', '.btn-edit', function () {
            currentClickedRow = userTable.api().row($(this).parents('tr'));
            var rowData = currentClickedRow.data();
            onEditUserBtnClick(rowData);
        });

        userTable.find('tbody').on('click', '.btn-delete', function () {
            var rowData = userTable.api().row($(this).parents('tr')).data();
            onDeleteUserBtnClick( $(this).parents('tr').get(0),rowData);
        });
    });

    function addUserGridRow(rowData) {
        userTable.fnAddData([rowData]);
    };

    function editUserGridRow(rowData) {
        userTable.api().row(currentClickedRow).data(rowData).invalidate();
        currentClickedRow = null;
    };

    function deleteUserFromGridRow(tr) {
        userTable.fnDeleteRow(userTable.fnGetPosition(tr));
    };

    function onEditUserBtnClick(rowData) {
        // This method will open a popup with partial edit user view
        $.ajax({
            type: 'post',
            url: '@Url.Action("EditUser", "User")',
            data: { userId: rowData.id },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        // Important Note: We cached the edit user modal inside a variable to close it when edit user button click
                        editUserModal = ModalManager.showModal(data.Content, 'Edit User', null, { fullscreen: true });
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function onDeleteUserBtnClick(tr, rowData) {
        ModalManager.showConfirmModal("Are you sure you want to delete this user?", null, function (modal) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("DeleteUser", "User")',
                data: { userId: rowData.id },
                success:
                    function (data) {
                        switch (data.MessageType) {
                            case 1:
                                // Delete user from uesrs grid
                                deleteUserFromGridRow(tr);

                                // Show successfully deleted message
                                ModalManager.showInformationModal("The user successfully deleted");
                                break;
                            case 2:
                                ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                break;
                        }
                    },
                error: function (data) {
                },
                beforeSend: function () {
                    $('body').jLoadingOverlay('');
                },
                complete: function () {
                    $('body').jLoadingOverlay('close');
                }
            });

            modal.close();
        });
    };

    </text>)
</script>