﻿@using SiteManagement.Models;
@using SiteManagement.Data;
@model ElectricityMeterModel
@{
    bool isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
}

<div>
    @using (Html.BeginForm("Save", "ElectricityMeter", FormMethod.Post, new { id = "frmElectricityMeter", @class = "form-horizontal", target = "_blank" }))
    {
        @Html.HiddenFor(model => model.ElectricityMeterSiteId, new { id = "hdnElectricityMeterSiteId" })
        @Html.HiddenFor(model => model.ElectricityMeterId, new { id = "hdnElectricityMeterId" })

        <div class="form-group">
            @Html.CustomLabelFor(model => model.ElectricityMeterCode, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.ElectricityMeterCode, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.ElectricityMeterCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.CustomLabelFor(model => model.ElectricityMeterType, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Select2For(model => model.ElectricityMeterType, ViewData["ElectricityMeterTypes"] as IEnumerable<SelectListItem>,
                            "Choose an electricity meter type", true, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.ElectricityMeterType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.ElectricityMeterDistribution, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Select2For(model => model.ElectricityMeterDistribution, ViewData["ElectricityMeterDistributions"] as IEnumerable<SelectListItem>,
                            "Choose an electricity meter distribution", true, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.ElectricityMeterSubType, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Select2For(model => model.ElectricityMeterSubType, ViewData["ElectricityMeterSubTypes"] as IEnumerable<SelectListItem>,
                            "Choose an electricity meter sub type", true, new { @class = "form-control" })
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.CustomLabelFor(model => model.ElectricityMeterPaymentSubType, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Select2For(model => model.ElectricityMeterPaymentSubType, ViewData["ElectricityMeterPaymentSubTypes"] as IEnumerable<SelectListItem>,
                            "Choose an electricity meter payment sub type", true, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.PipesFilling, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.PipesFilling, false, new { id = "chkPipesFilling" })
                </div>
            </div>
        </div>
        <div class="form-group" id="pipesFillingSName" style="display: none;">
            @Html.CustomLabelFor(model => model.PipesFillingSupplierName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.PipesFillingSupplierName, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.TechnologyUsed, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.MultipleSelect2For(model => model.TechnologyUsed, ViewData["TechnologyUsedTypes"] as IEnumerable<SelectListItem>,
                            "Choose a technology used", new { @class = "form-control", id = "technologyUsed" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.TechnologyUsed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.CustomLabelFor(model => model.EstimatePowerConsumption, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DecimalInputFor(model => model.EstimatePowerConsumption, new { @class = "form-control", id = "estimatePowerConsumption" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.EstimatePowerConsumption, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.BoxInstallaion, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.BoxInstallaion)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.USence, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.USence, false, new { id = "chkUSence" })
                </div>
            </div>
        </div>

        <div class="form-group" id="uSenceSName" style="display: none;">
            @Html.CustomLabelFor(model => model.USenceSupplierName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.USenceSupplierName, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.MeterShield, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.MeterShield)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.IsActive, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.IsActive)
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.CustomLabelFor(model => model.ActivationDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.ActivationDate)
                </div>
            </div>
        </div>

    }
</div>

<script>
    @Html.JsMinify(@<text>

    @if (isReadOnly)
    {
        <text>
        $("#frmElectricityMeter :input").attr("disabled", "disabled");
    </text>
    }
    else
    {
        <text>

    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#frmElectricityMeter"));
    });

    $("#chkUSence").change(function () {
        if ($(this).is(":checked")) {
            $("#uSenceSName").show();
        }
        else {
            $("#uSenceSName").hide();
        }
    });

    $("#chkUSence").change();


    $("#chkPipesFilling").change(function () {
        if ($(this).is(":checked")) {
            $("#pipesFillingSName").show();
        }
        else {
            $("#pipesFillingSName").hide();
        }
    });

    $("#chkPipesFilling").change();

    ///////////////////////////////////////////
    //************ Technology Used ************

    $("#estimatePowerConsumption").attr("disabled", "disabled");

    var allTechnologyUsed = @Html.Raw(ViewData["AllTechnologyUsed"]);

    $("#technologyUsed").change(function () {
        var technologyUsedSummation = 0;

        var values = $(this).val();
        if (values && values.length) {
            for (var i = 0; i < values.length; i++) {
                var technologyUsedId = values[i];
                var averageCost = allTechnologyUsed[technologyUsedId];
                technologyUsedSummation = technologyUsedSummation + averageCost;
            }
        }

        $("#estimatePowerConsumption").val(technologyUsedSummation);
    });
    </text>
    }

    </text>)
</script>