﻿@using SiteManagement.Models;
@model ElectricityMeterFilterModel

<div>
    @using (Html.BeginForm("GetFilterMapLocations", "ElectricityMeter", FormMethod.Post, new { id = "frmElectricityMeterFilterMap", @class = "form-horizontal", target = "_blank" }))
    {
        <div class="form-group">
            @Html.CustomLabelFor(model => model.ElectricityMeterCode, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.ElectricityMeterCode, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.ElectricityMeterType, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Select2For(model => model.ElectricityMeterType, ViewData["ElectricityMeterTypes"] as IEnumerable<SelectListItem>,
                            "Choose an electricity meter type", true, new { @class = "form-control" })
                </div>
            </div>
        </div>
    }
</div>
