﻿@using SiteManagement.Models;
@model ElectricityMeterModel

<div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" href="#addElectricityMeterCollapse">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#addElectricityMeterCollapse">Add Electricity Meter</a>
                </h4>
            </div>
            <div id="addElectricityMeterCollapse" class="panel-collapse collapse in">
                <div class="panel-body collapse-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.Partial("~/Views/ElectricityMeter/_PartialElectricityMeter.cshtml", Model)
                    </div>
                </div>
                <br />
                <div id="electricityMeterButtons" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" id="btnAddElectricityMeter" class="btn btn-primary">Add</button>
                </div>
                <br />
            </div>
        </div>
    </div>

</div>
<script>
    @Html.JsMinify(@<text>

    $("#btnAddElectricityMeter").click(function () {
        onAddElectricityMeterButtonClick();
    });

    function onAddElectricityMeterButtonClick() {
        var isFormValid = $("#frmElectricityMeter").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            // Show add electricity meter confirm message
            ModalManager.showConfirmModal("Are you sure you want to add a new electricity meter?", null, function (modal) {
                // For the first time, get siteId from site form and set it to electricity meter form
                var siteId = $("#hdnSiteId").val();
                $("#hdnElectricityMeterSiteId").val(siteId);

                $("#estimatePowerConsumption").removeAttr("disabled");
                var formData = $("#frmElectricityMeter").serializeArray();
                $("#estimatePowerConsumption").attr("disabled", "disabled");

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveElectricityMeter", "ElectricityMeter")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // Reset the electricity meter form
                                    $("#frmElectricityMeter")[0].reset();

                                    // Add the added electricity meter to electricity meter grid
                                    addElectricityMeterGridRow(JSON.parse(data.ElectricityMeterJsonData));

                                    // Show successfully added message
                                    ModalManager.showInformationModal("The electricity meter successfully added");
                                    break;
                                case 2:
                                    ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmElectricityMeter").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    };

    </text>)
</script>