﻿@{
    bool isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
}

<div class="row">
    <div class="table-responsive">
        <table id="electricityMeterTable" class="hover">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Distribution</th>
                    <th>Pipes Filling</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    @Html.JsMinify(@<text>
    var electricityMeterTable;

    var electricityMeterGridData = @Html.Raw(ViewData["electricityMeterGridData"]);

    var currentElectricityMeterClickedRow;

    $(document).ready(function () {
        electricityMeterTable = $("#electricityMeterTable").dataTable({
            responsive: true,
            data: electricityMeterGridData,
            columns: [
                { data: 'code' },
                { data: 'distribution' },
                { data: 'pipesFilling' },
                { data: 'button' }
            ],
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": @isReadOnly.ToString().ToLower() ? "<div class='btn btn-primary btn-view'>View</div>" :
                            "<div class='btn btn-primary btn-edit'>Edit</div>"
            }]
        });

        @if (!isReadOnly)
        {
        <text>
        electricityMeterTable.find('tbody').on('click', '.btn-edit', function() {
            currentElectricityMeterClickedRow = electricityMeterTable.api().row($(this).parents('tr'));
            var rowData = currentElectricityMeterClickedRow.data();
            onEditElectricityMeterBtnClick(rowData);
        });

        //electricityMeterTable.find('tbody').on('click', '.btn-delete', function () {
        //    var tr = $(this).parents('tr');
        //    var rowData = electricityMeterTable.api().row($(this).parents('tr')).data();
        //    onDeleteElectricityMeterBtnClick( $(this).parents('tr').get(0), rowData);
        //});
        </text>
}
    else
    {
        <text>
        electricityMeterTable.find('tbody').on('click', '.btn-view', function () {
            var rowData = electricityMeterTable.api().row($(this).parents('tr')).data();
            onViewElectricityMeterBtnClick(rowData);
        });
        </text>
    }

    });

    function enableElectricityMeterGridButtons(isEnable) {
        var gridButtons = electricityMeterTable.find(".btn-edit, .btn-delete");
        isEnable ? gridButtons.removeClass("disabled") : gridButtons.addClass("disabled");
    };

    function addElectricityMeterGridRow(rowData) {
        electricityMeterTable.fnAddData([rowData]);
    };

    function editElectricityMeterGridRow(rowData) {
        electricityMeterTable.api().row(currentElectricityMeterClickedRow).data(rowData).invalidate();
        currentElectricityMeterClickedRow = null;
    };

    function deleteElectricityMeterFromGridRow(tr) {
        electricityMeterTable.fnDeleteRow(electricityMeterTable.fnGetPosition(tr));
    };

    function onEditElectricityMeterBtnClick(rowData) {
        // Disable all grid buttons
        enableElectricityMeterGridButtons(false);

        // This method will open a popup with partial electricity meter view
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetEditElectricityMeterView", "ElectricityMeter")',
            data: { electricityMeterId: rowData.id },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        $("#electricityMeterContent").html(data.EditElectricityMeterContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function onViewElectricityMeterBtnClick(rowData) {
        // This method will open a popup with partial electricity meter view
        $.ajax({
            type: 'post',
            url: '@Url.Action("ViewElectricityMeter", "ElectricityMeter")',
            data: { electricityMeterId: rowData.id },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        $("#electricityMeterContent").html(data.EditElectricityMeterContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function onDeleteElectricityMeterBtnClick(tr, rowData) {
        ModalManager.showConfirmModal("Are you sure you want to delete this electricity meter?", null, function (modal) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("DeleteElectricityMeter", "ElectricityMeter")',
                data: { electricityMeterId: rowData.id },
                success:
                    function (data) {
                        switch (data.MessageType) {
                            case 1:
                                // Delete electricity meter from uesrs grid
                                deleteElectricityMeterFromGridRow(tr);

                                // Show successfully deleted message
                                ModalManager.showInformationModal("The electricity meter successfully deleted");
                                break;
                            case 2:
                                ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                break;
                        }
                    },
                error: function (data) {
                },
                beforeSend: function () {
                    $('body').jLoadingOverlay('');
                },
                complete: function () {
                    $('body').jLoadingOverlay('close');
                }
            });

            modal.close();
        });
    };

    </text>)
</script>
