﻿@using SiteManagement.Models;
@model ImportFileModel

<div>
    @using (Html.BeginForm("Import", "ImportFile", FormMethod.Post, new { id = "frmImportFile", @class = "form-horizontal", target = "_blank" }))
    {
        <div class="form-group">
            @Html.CustomLabelFor(model => model.ImportType, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Select2For(model => model.ImportType, ViewData["ImportFileTypes"] as IEnumerable<SelectListItem>,
                       "Choose an import type", true, new { @class = "form-control", id = "importTypeSelect" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.ImportType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.ImportFileJson, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.UploadFileFor(model => model.ImportFileJson, true, Url.Action("DownloadFile", "File"))
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.ImportFileJson, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button type="button" id="btnImportFile" class="btn btn-primary">Import File</button>
        <button type="button" id="btnDownloadTemplate" class="btn btn-primary">Download Template</button>
    </div>
</div>

<script>
    @Html.JsMinify(@<text>

    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#frmImportFile"));
    });

    $("#btnImportFile").click(function () {
        var isFormValid = $("#frmImportFile").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            ModalManager.showConfirmModal("Are you sure you want to import this file?", null, function (modal) {
                var formData = $("#frmImportFile").serializeArray();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("Import", "ImportFile")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // Reset the form
                                    $("#frmImportFile")[0].reset();

                                    ModalManager.showInformationModal("The file successfully imported");

                                    // Close the main modal
                                    importFileModal.close();
                                    // After close the main modal empty the modal object
                                    importFileModal = null;
                                    break;
                                case 2:
                                    ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmImportFile").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                                case 5:
                                    // Import Sheet Failure
                                    ModalManager.showErrorModal(data.MessageText);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    });

    $("#btnDownloadTemplate").click(function () {
        var selectedImportType = $("#importTypeSelect").val();

        if (!selectedImportType) {
            ModalManager.showErrorModal("You should select the import type");
        }
        else {

            window.location = '@Html.Raw(@Url.Action("DownloadTemplate", "ImportFile"))' + '?importType=' + selectedImportType;
        }
    });

    </text>)
</script>