﻿@using SiteManagement.Models;
@model ContractFilterModel

<div>
    @using (Html.BeginForm("GetFilterMapLocations", "Contract", FormMethod.Post, new { id = "frmContractFilterMap", @class = "form-horizontal", target = "_blank" }))
    {
        @*<div class="form-group">
            @Html.CustomLabelFor(model => model.StartDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.StartDate)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.EndDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.EndDate)
                </div>
            </div>
        </div>*@

        <div class="form-group">
            @Html.CustomLabelFor(model => model.Date, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DateRangePickerFor(model => model.Date)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.ActiveDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.ActiveDate)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.TerminatedDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.TerminatedDate)
                </div>
            </div>
        </div>
    }
</div>
