﻿@using SiteManagement.Models;
@using SiteManagement.Data;
@model ContractModel

@if (Model.Rents != null && Model.Rents.Count > 0)
{
    <label class="control-label col-sm-12">Yearly Rents</label>

    <div class="col-sm-10 col-sm-offset-1">
        <table class="table">
            <tbody>
                @for (int i = 0; i < Model.Rents.Count; i++)
                {
                    <tr>
                        <th>@Html.DisplayFor(model => model.Rents[i].Label, new { @class = "control-label" })</th>
                        <td>
                            @Html.HiddenFor(model => model.Rents[i].StartDate)
                            @Html.HiddenFor(model => model.Rents[i].EndDate)
                            @Html.DecimalInputFor(model => model.Rents[i].Amount, new { @class = "form-control" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}