﻿@using SiteManagement.Models;
@using SiteManagement.Data;
@model ContractModel
@{
    bool isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
}

<div>
    @using (Html.BeginForm("Add", "Contract", FormMethod.Post, new { id = "frmContract", @class = "form-horizontal", target = "_blank" }))
    {
        @Html.HiddenFor(model => model.ContractSiteId, new { id = "hdnContractSiteId" })
        @Html.HiddenFor(model => model.ContractId, new { id = "hdnContractId" })

        <div class="form-group">
            @Html.CustomLabelFor(model => model.Date, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.RequiredDateRangePickerFor(model => model.Date, false, "contractStratDate", "contractEndDate", "onStartDateChange", "onEndDateChange", null)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.IsIncremental, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.IsIncremental, false, new { id = "chkIsIncremental" })
                </div>
            </div>
        </div>

        <div class="form-group" id="divYearlyIncremental" style="display: none;">
            @Html.Partial("_PartialRents", Model)
        </div>

        @*<div class="form-group">
            @Html.CustomLabelFor(model => model.StartDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.StartDate)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.EndDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.EndDate)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @*<div class="form-group">
                @Html.CustomLabelFor(model => model.YearlyRent, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.DecimalInputFor(model => model.YearlyRent, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.ValidationMessageFor(model => model.YearlyRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            @Html.CustomLabelFor(model => model.MaarefTax, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DecimalInputFor(model => model.MaarefTax, new { @class = "form-control" })
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.PaymentType, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Select2For(model => model.PaymentType, ViewData["PaymentTypes"] as IEnumerable<SelectListItem>
                        , "Choose a Payment Type", true, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.MunicipalityPermission, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.MunicipalityPermission)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.DocumentFileJson, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.UploadFileFor(model => model.DocumentFileJson, true, Url.Action("DownloadFile", "File"))
                </div>
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.ValidationMessageFor(model => model.DocumentFileJson, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>



        <div class="form-group">
            @Html.CustomLabelFor(model => model.QOSHANJson, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.UploadFileFor(model => model.QOSHANJson, true, Url.Action("DownloadFile", "File"))
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.QOSHANJson, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.TerminationLetterJson, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.UploadFileFor(model => model.TerminationLetterJson, true, Url.Action("DownloadFile", "File"))
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.TerminationLetterJson, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.IsMadeByUmniah, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.IsMadeByUmniah, false, new { id = "chkIsMadeByUmniah" })
                </div>
            </div>
        </div>
        <div class="form-group" id="divAcquiredbyId" style="display: none;">

            @Html.CustomLabelFor(model => model.AcquiredbyId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    @Html.Select2For(model => model.AcquiredbyId, ViewData["Acquiredby"] as IEnumerable<SelectListItem>
                    , "Choose a Payment Type", true, new { @class = "form-control" })

                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.IsColocationClose, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => model.IsColocationClose, false, new { id = "chkIsColocationClose" })
                </div>
            </div>
        </div>

        <div class="form-group" id="divColocationCloseNote" style="display: none;">
            @Html.CustomLabelFor(model => model.ColocationCloseNote, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextAreaFor(model => model.ColocationCloseNote, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.ColocationCloseNote, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.IsActive, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => Model.IsActive, false, new { id = "chkIsActive" })
                </div>
            </div>
        </div>

        <div class="form-group" id="divActiveDate" style="display: none;">
            @Html.CustomLabelFor(model => model.ActiveDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.ActiveDate)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.ActiveDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" id="divActiveNote" style="display: none;">
            @Html.CustomLabelFor(model => model.ActiveNote, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextAreaFor(model => model.ActiveNote, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.ActiveNote, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.IsTerminated, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.SwitchFor(model => Model.IsTerminated, false, new { id = "chkIsTerminated" })
                </div>
            </div>
        </div>

        <div class="form-group" id="divTerminatedDate" style="display: none;">
            @Html.CustomLabelFor(model => model.TerminatedDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.TerminatedDate)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.TerminatedDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" id="divTerminatedNote" style="display: none;">
            @Html.CustomLabelFor(model => model.TerminatedNote, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextAreaFor(model => model.TerminatedNote, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.TerminatedNote, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.AquariumNumber, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.AquariumNumber, new { @class = "form-control" })
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.AquariumName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.AquariumName, new { @class = "form-control" })
                </div>

            </div>
        </div>
        <div class="form-group">
            @Html.CustomLabelFor(model => model.PieceNumber, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.PieceNumber, new { @class = "form-control" })
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.Directorate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.Directorate, new { @class = "form-control" })
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.Town, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.Town, new { @class = "form-control" })
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.PlateNumber, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.PlateNumber, new { @class = "form-control" })
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.SigntuerDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DatePickerFor(model => model.SigntuerDate)
                </div>
            </div>
        </div>
    }
</div>

<script>
    @Html.JsMinify(@<text>

    @if (isReadOnly)
    {
        <text>
        $("#frmContract :input").attr("disabled", "disabled");
        </text>
    }
    else
    {
    <text>

    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#frmContract"));
    });

    var rentsCount = @Json.Encode(Model.Rents != null ? Model.Rents.Count : 0);
    //var hasRents = @Json.Encode(Model.Rents != null && Model.Rents.Count > 0);
    var hasRents = rentsCount > 0;

    //****************************************
    //************** Date Range **************

    var isDateChanged = false;

    var prevStartDate = $("#contractStratDate").val();
    var prevEndDate = $("#contractEndDate").val();

    var onDateChange = function (onModalYesClickCallback, onModalNoClickCallback) {
        var isIncrementalChecked = $('#chkIsIncremental').is(":checked");

        if (isIncrementalChecked) {
            if (hasRents && !isDateChanged) {
                ModalManager.showConfirmModal("This change may cause to disable is incremental flag and the lose yearly rents data. Are you sure you want to proceed?", null,
                    function (modal) {
                        // If Yes button clicked
                        isDateChanged = true;
                        $(chkIsIncremental).prop("checked", false);
                        $('#chkIsIncremental').change();

                        // Cache the changed date
                        onModalYesClickCallback();
                        modal.close();
                    },
                    function (modal) {
                        // If No button clicked

                        // Rest the old date values
                        onModalNoClickCallback();

                        modal.close();
                    }
                );
            }
        }
    };

    function onStartDateChange() {
        var me = $("#contractStratDate");

        var onModalYesClickCallback = function () {
            prevStartDate = $(me).val();
        };

        var onModalNoClickCallback = function () {
            $("#contractStratDate").val(prevStartDate);
        };

        onDateChange(onModalYesClickCallback, onModalNoClickCallback);
    };

    function onEndDateChange() {
        var me = $("#contractEndDate");

        var onModalYesClickCallback = function () {
            prevEndDate = $(me).val();
        };

        var onModalNoClickCallback = function () {
            $("#contractEndDate").val(prevEndDate);
        };

        onDateChange(onModalYesClickCallback, onModalNoClickCallback);
    };

    //$("#contractStratDate").change(function () {
    //    var me = this;

    //    var onModalYesClickCallback = function () {
    //        prevStartDate = $(me).val();
    //    };

    //    var onModalNoClickCallback = function () {
    //        $("#contractStratDate").val(prevStartDate);
    //    };

    //    onDateChange(onModalYesClickCallback, onModalNoClickCallback);
    //});

    //$("#contractEndDate").change(function () {
    //    var me = this;

    //    var onModalYesClickCallback = function () {
    //        prevEndDate = $(me).val();
    //    };

    //    var onModalNoClickCallback = function () {
    //        $("#contractEndDate").val(prevEndDate);
    //    };

    //    onDateChange(onModalYesClickCallback, onModalNoClickCallback);
    //});

    //****************************************
    //************ Is Incremental ************

    var getContractRents = function () {
        var formData = $("#frmContract").serializeArray();

        $.ajax({
            type: 'post',
            url: '@Url.Action("GetContractRents", "Contract")',
            data: formData,
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        $("#divYearlyIncremental").html(data.Content);
                        $("#divYearlyIncremental").show();

                        rentsCount = data.RentCount;
                        hasRents = rentsCount > 0;

                        isDateChanged = false;

                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    $('#chkIsIncremental').change(function () {
        if ($(this).is(":checked")) {
            var startDate = $("#contractStratDate").val();
            var endDate = $("#contractEndDate").val();

            if (!startDate || !endDate) {
                ModalManager.showWarningModal("You should select contract date before enable is incremental flag");
                // Disable the is incremental flag
                $(this).prop("checked", false);
                return false;
            }

            if (!hasRents) {
                // Create rents from server for selected date range (This is the first time/the first select)
                getContractRents();
                return false;
            }

            if (isDateChanged) {
                // Get rents from server for selected date range (for changed date)
                getContractRents();
                return false;
            }

            $("#divYearlyIncremental").show();
        }
        else {
            $("#divYearlyIncremental").hide();
        }

    });

    $('#chkIsIncremental').change();

    //****************************************

    $("#chkIsColocationClose").change(function () {
        if ($(this).is(":checked")) {
            $("#divColocationCloseNote").show();
        }
        else {
            $("#divColocationCloseNote").hide();
        }
    });

    // For the first time, if the form is in update mode
    if ($("#chkIsColocationClose").is(":checked")) {
        $("#divColocationCloseNote").show();
    }

    $("#chkIsMadeByUmniah").change(function () {
        if ($(this).is(":checked")) {
            $("#divAcquiredbyId").show();
        }
        else {
            $("#divAcquiredbyId").hide();
        }
    });

    $("#chkIsMadeByUmniah").change();

    //****************************************

    $("#chkIsActive").change(function () {
        if ($(this).is(":checked")) {
            $("#divActiveDate").show();
            $("#divActiveNote").show();
        }
        else {
            $("#divActiveDate").hide();
            $("#divActiveNote").hide();
        }
    });

    // For the first time, if the form is in update mode
    if ($("#chkIsActive").is(":checked")) {
        $("#divActiveDate").show();
        $("#divActiveNote").show();
    }

    //****************************************

    $("#chkIsTerminated").change(function () {
        if ($(this).is(":checked")) {
            $("#divTerminatedDate").show();
            $("#divTerminatedNote").show();
        }
        else {
            $("#divTerminatedDate").hide();
            $("#divTerminatedNote").hide();
        }
    });

    // For the first time, if the form is in update mode
    if ($("#chkIsTerminated").is(":checked")) {
        $("#divTerminatedDate").show();
        $("#divTerminatedNote").show();
    }
    </text>
    }

    </text>)
</script>