﻿@using SiteManagement.Models;
@model ContractModel

<div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#addContractCollapse">Add Contract</a>
                </h4>
            </div>
            <div id="addContractCollapse" class="panel-collapse collapse in">
                <div class="panel-body collapse-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.Partial("~/Views/Contract/_PartialContract.cshtml", Model)
                    </div>
                </div>
                <br />
                <div id="contractButtons" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" id="btnAddContract" class="btn btn-primary">Add</button>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<script>
    @Html.JsMinify(@<text>

    $("#btnAddContract").click(function () {
        onAddContractButtonClick();
    });

    function onAddContractButtonClick() {
        var isFormValid = $("#frmContract").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            // Show add contract confirm message
            ModalManager.showConfirmModal("Are you sure you want to add a new contract?", null, function (modal) {
                // For the first time, get siteId from site form and set it to contract form
                var siteId = $("#hdnSiteId").val();
                $("#hdnContractSiteId").val(siteId);

                var formData = $("#frmContract").serializeArray();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveContract", "Contract")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // Reset the contract form
                                    $("#frmContract")[0].reset();

                                    // Add the added contract to contract grid
                                    addContractGridRow(JSON.parse(data.ContractJsonData));

                                    // Show successfully added message
                                    ModalManager.showInformationModal("The contract successfully added");
                                    break;
                                case 2:
                                    ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmContract").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    };

    </text>)
</script>