﻿@{
    bool isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
}

<table id="contractTable" class="hover">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Municipality Permission</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    @Html.JsMinify(@<text>
    var contractTable;

    var contractGridData = @Html.Raw(ViewData["contractGridData"]);

    var currentContractClickedRow;

    $(document).ready(function () {
        contractTable = $("#contractTable").dataTable({
            responsive: true,
            data: contractGridData,
            "searching": false,
            "bPaginate": false,
            columns: [
                { data: 'startDate' },
                { data: 'endDate' },
                { data: 'municipalityPermission' },
                { data: 'button' }
            ],
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": @isReadOnly.ToString().ToLower() ? "<div class='btn btn-primary btn-view'>View</div>" :
                            "<div class='btn btn-primary btn-edit'>Edit</div> <div class='btn btn-primary btn-delete'>Delete</div>"
                }]
        });

        @if (!isReadOnly)
                {
                    <text>
        contractTable.find('tbody').on('click', '.btn-edit', function () {
            currentContractClickedRow = contractTable.api().row($(this).parents('tr'));
            var rowData = currentContractClickedRow.data();
            onEditContractBtnClick(rowData);
        });

        contractTable.find('tbody').on('click', '.btn-delete', function () {
            var rowData = contractTable.api().row($(this).parents('tr')).data();
            onDeleteContractBtnClick($(this).parents('tr').get(0), rowData);
        });
        </text>
    }
    else
    {
        <text>
        contractTable.find('tbody').on('click', '.btn-view', function () {
            var rowData = contractTable.api().row($(this).parents('tr')).data();
            onViewContractBtnClick(rowData);
        });
        </text>
    }
    });

    function enableContractGridButtons(isEnable) {
        var gridButtons = contractTable.find(".btn-edit, .btn-delete");
        isEnable ? gridButtons.removeClass("disabled") : gridButtons.addClass("disabled");
    };

    function addContractGridRow(rowData) {
        contractTable.fnAddData([rowData]);
    };

    function editContractGridRow(rowData) {
        contractTable.api().row(currentContractClickedRow).data(rowData).invalidate();
        currentContractClickedRow = null;
    };

    function deleteContractFromGridRow(tr) {
        contractTable.fnDeleteRow(contractTable.fnGetPosition(tr));
    };

    function onEditContractBtnClick(rowData) {
        // Disable all grid buttons
        enableContractGridButtons(false);

        // This method will open a popup with partial contract view
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetEditContractView", "Contract")',
            data: { contractId: rowData.id },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        $("#contractContent").html(data.EditContractContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function onViewContractBtnClick(rowData) {
        // This method will open a popup with partial contract view
        $.ajax({
            type: 'post',
            url: '@Url.Action("ViewContract", "Contract")',
            data: { contractId: rowData.id },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        $("#contractContent").html(data.EditContractContent);
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    function onDeleteContractBtnClick(tr, rowData) {
        ModalManager.showConfirmModal("Are you sure you want to delete this contract?", null, function (modal) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("DeleteContract", "Contract")',
                data: { contractId: rowData.id },
                success:
                    function (data) {
                        switch (data.MessageType) {
                            case 1:
                                // Delete contract from uesrs grid
                                deleteContractFromGridRow(tr);

                                // Show successfully deleted message
                                ModalManager.showInformationModal("The contract successfully deleted");
                                break;
                            case 2:
                                ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                break;
                        }
                    },
                error: function (data) {
                },
                beforeSend: function () {
                    $('body').jLoadingOverlay('');
                },
                complete: function () {
                    $('body').jLoadingOverlay('close');
                }
            });

            modal.close();
        });
    };

    </text>)
</script>