﻿@using SiteManagement.Models;
@using SiteManagement.Data;
@model ContractModel
@{
    bool isReadOnly = ViewData["IsReadOnly"] != null ? (bool)ViewData["IsReadOnly"] : false;
    string title = isReadOnly ? "View Contract" : "Edit Contract";
}

<div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#editContractCollapse">@title</a>
                </h4>
            </div>
            <div id="editContractCollapse" class="panel-collapse collapse in">
                <div class="panel-body collapse-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.Partial("~/Views/Contract/_PartialContract.cshtml", Model)
                    </div>
                </div>
                <br />
                <div id="contractButtons" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @if (isReadOnly)
                    {
                        <button type="button" id="btnCancelViewContract" class="btn btn-primary">Cancel</button>
                    }
                    else
                    {
                        <button type="button" id="btnEditContract" class="btn btn-primary">Edit</button>
                        <button type="button" id="btnCancelEditContract" class="btn btn-primary">Cancel</button>
                    }

                    @if ((RoleTypeEnum)SessionManager.CurrentUser.RoleId == RoleTypeEnum.SuperAdmin)
                    {
                        <button type="button" id="btnShowContractLog" class="btn btn-primary">Show Log</button>
                    }
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

<script>
    @Html.JsMinify(@<text>

    @if (isReadOnly)
    {
        <text>
    $("#btnCancelViewContract").click(function() {
        $("#contractContent").empty();
    });
    </text>
    }
    else
    {
        <text>
    $("#btnEditContract").click(function () {
        onEditContractButtonClick();
    });

    $("#btnCancelEditContract").click(function () {
        onCancelEditContractButtonClick();
    });

    // After edit an exist load add contract view
    function onEditContractButtonClick() {
        var isFormValid = $("#frmContract").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            // Show edit contract confirm message
            ModalManager.showConfirmModal("Are you sure you want to edit this contract?", null, function (modal) {
                // For the first time, get siteId from site form and set it to contract form
                var siteId = $("#hdnSiteId").val();
                $("#hdnContractSiteId").val(siteId);

                var formData = $("#frmContract").serializeArray();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveContract", "Contract")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // Edit the updated user in users grid
                                    editContractGridRow(JSON.parse(data.ContractJsonData));

                                    // Enable all grid buttons
                                    enableContractGridButtons(true);

                                    // After edit the exist contract, load the add contract view (change to add contract mode)
                                    GetAddContractView();

                                    // Show successfully added message
                                    ModalManager.showInformationModal("The contract successfully updated");
                                    break;
                                case 2:
                                    ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmContract").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    };

    function onCancelEditContractButtonClick() {
        GetAddContractView();
    };

    function GetAddContractView() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetAddContractView", "Contract")',
            data: null,
            success:
                function (data) {
                    switch (data.MessageType) {
                        case 1:
                            // Load the add contract view (change to add contract mode)
                            $("#contractContent").html(data.AddContractContent);

                            // Enable all grid buttons
                            enableContractGridButtons(true);
                            break;
                        case 2:
                            ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                            break;
                    }
                },
            error: function (data) {
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };
    </text>
}

    ////////////////////////////////////////////////////////////
    //********************** Contract Log **********************


    @if ((RoleTypeEnum)SessionManager.CurrentUser.RoleId == RoleTypeEnum.SuperAdmin)
    {
        <text>
    $("#btnShowContractLog").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GetLog", "Log")',
            data: { logType: @((int)LogType.Contract), id: $("#hdnContractId").val() },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        ModalManager.showModal(data.Content, "Contract Log");
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    });
    </text>
    }

    </text>)
</script>