﻿.switch-input {
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    cursor: pointer
}

label .switch-input {
    z-index: -100!important;
    width: 1px!important;
    height: 1px!important;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute
}

.switch-input:checked,
.switch-input:focus {
    outline: 0!important
}

.switch-input~.lbl {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: 400;
    cursor: pointer
}

.switch-input~.lbl::before {
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: 400;
    font-size: 12px;
    color: #FFF;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #C8C8C8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 1px;
    position: relative;
    top: -1px
}

.switch-input:checked~.lbl::before {
    display: inline-block;
    content: '\f00c';
    color: #32A3CE;
    background-color: #F5F8FC;
    border-color: #ADB8C0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1)
}

.switch-input~.lbl:hover::before,
.switch-input:hover~.lbl::before {
    border-color: #468FCC;
}

.switch-input:focus~.lbl::before {
    border-color: #468FCC;
}

.switch-input:active~.lbl::before,
.switch-input:checked:active~.lbl::before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1)
}

.switch-input.disabled~.lbl::before,
.switch-input:disabled~.lbl::before,
.switch-input[disabled]~.lbl::before {
    background-color: #DDD!important;
    border-color: #CCC!important;
    box-shadow: none!important;
    color: #BBB
}

.switch-input~.lbl::before {
    border-radius: 100%;
    font-size: 10px;
    font-family: FontAwesome;
    text-shadow: 0 0 1px #32A3CE;
    line-height: 15px;
    height: 17px;
    min-width: 17px
}

.switch-input {
    width: 55px;
    height: 25px
}

.switch-input~.lbl {
    margin: 0 4px;
    min-height: 24px
}

.switch-input~.lbl::before {
    font-family: 'Open Sans';
    content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
    color: #999;
    text-shadow: 0 0 0 #999;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    height: 20px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .15);
    border: 1px solid #CCC;
    text-align: left;
    float: left;
    padding: 0;
    width: 52px;
    text-indent: -21px;
    margin-right: 0;
    -webkit-transition: text-indent .25s ease;
    -o-transition: text-indent .25s ease;
    transition: text-indent .25s ease;
    top: auto
}

.switch-input~.lbl::after {
    font-family: 'Open Sans';
    content: 'III';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    color: #AAA;
    text-shadow: none;
    background-color: #FFF;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    top: -2px;
    left: -3px;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
    -webkit-transition: left .25s ease;
    -o-transition: left .25s ease;
    transition: left .25s ease
}

.switch-input:checked~.lbl::before {
    text-indent: 8px;
    color: #FFF;
    text-shadow: 0 0 0 #FFF;
    background-color: #8AB2C9;
    border-color: #6A8CA8
}

.switch-input:checked~.lbl::after {
    left: 34px;
    background-color: #FFF;
    color: #98A0A5
}

.switch-input.switch-6~.lbl {
    position: relative
}

.switch-input.switch-6~.lbl::before {
    font-family: FontAwesome;
    content: "\f00d";
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    box-shadow: none;
    border-width: 0;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 12px;
    display: inline-block;
    background-color: #b7b7b7;
    color: #F2F2F2;
    width: 52px;
    height: 22px;
    line-height: 21px;
    text-indent: 32px;
    -webkit-transition: background .25s ease;
    -o-transition: background .25s ease;
    transition: background .25s ease
}

.switch-input.switch-6~.lbl::after {
    content: '';
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 12px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    width: 18px;
    height: 18px;
    text-align: center;
    background-color: #F2F2F2;
    border: 4px solid #F2F2F2;
    -webkit-transition: left .25s ease;
    -o-transition: left .25s ease;
    transition: left .25s ease
}

.switch-input.switch-6:checked~.lbl::before {
    content: "\f00c";
    text-indent: 6px;
    color: #FFF;
    /*border-color: #B7D3E5;
    background-color: #468FCC;*/
    border-color: #d0c91f;
    background-color: #cac214;
}

.switch-input.switch-6:checked~.lbl::after {
    left: 32px;
    background-color: #FFF;
    border: 4px solid #FFF;
    text-shadow: 0 -1px 0 rgba(0, 200, 0, .25)
}


.switch-input~.lbl[data-lbl]::before {
    content: attr(data-lbl)
}

.switch-input.btn-empty~.lbl::after {
    content: ""
}

.switch-input.btn-rotate~.lbl::after {
    content: "\2261";
    line-height: 20px;
    font-size: 17px
}

.switch-input.btn-flat~.lbl::after,
.switch-input.btn-flat~.lbl::before {
    border-radius: 0!important
}

.switch-input[disabled]~.lbl, .switch-input[disabled]~.lbl::before {
    cursor: default !important;
}

/********* Right to left direction *********/
.switch-input.dir-rtl~.lbl::before {
    margin-left: 1px;
    text-align: right;
    float: right;
    margin-left: 0;
}

.switch-input.dir-rtl~.lbl::after {
    right: -3px;
}

.switch-input.dir-rtl:checked~.lbl::after {
    right: 34px;
}

.switch-input.dir-rtl.switch-6~.lbl::after {
    right: 3px;
}

.switch-input.dir-rtl.switch-6:checked~.lbl::after {
    right: 32px;
}
/********* Right to left direction *********/