﻿@using SiteManagement.Models;
@model TechnologyUsedModel

<div>
    @using (Html.BeginForm("SaveTechnologyUsed", "Lookup", FormMethod.Post, new { id = "frmTechnologyUsed", @class = "form-horizontal", target = "_blank" }))
    {
        @Html.HiddenFor(model => model.TechnologyUsedId)

        <div class="form-group">
            @Html.CustomLabelFor(model => model.DisplayName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.AverageCost, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.DecimalInputFor(model => model.AverageCost, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.AverageCost, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#frmTechnologyUsed"));
    });
</script>