﻿@using SiteManagement.Models;
@model LookupModel

<div>
    @using (Html.BeginForm("SaveLookup", "Lookup", FormMethod.Post, new { id = "frmLookup", @class = "form-horizontal", target = "_blank" }))
    {
        @Html.HiddenFor(model => model.Id)
        // If the form is in edit mode, save the lookup type string to reuse it in the lookup grid after update lookup display name
        @Html.HiddenFor(model => model.TypeString)

        <div class="form-group">
            @Html.CustomLabelFor(model => model.DisplayName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.CustomLabelFor(model => model.Type, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Select2For(model => model.Type, ViewData["LookupTypes"] as IEnumerable<SelectListItem>,
                            "Choose a role", true, new { @class = "form-control", id = "loopupType" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#frmLookup"));
    });
</script>