﻿@using SiteManagement.Models;
@model LookupModel

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    @Html.Partial("~/Views/Lookup/_PartialLookup.cshtml", Model)
</div>
<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" id="btnEditLookup" class="btn btn-primary">Edit</button>
    <button type="button" id="btnCancel" class="btn btn-primary">Cancel</button>
</div>

<script>

    // Disable the lookup type on edit mode
    $("#loopupType").attr("disabled", "disabled");

    $("#btnEditLookup").click(function () {
        onEditLookupButtonClick();
    });

    $('#btnCancel').click(function () {
        editLookupModal.close();
    });

    function onEditLookupButtonClick() {
        var isFormValid = $("#frmLookup").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            // Show add contract confirm message
            ModalManager.showConfirmModal("Are you sure you want to edit this lookup?", null, function (modal) {
                var formData = $("#frmLookup").serializeArray();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveLookup", "Lookup")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // Edit the updated lookup in lookups grid
                                    editLookupGridRow(JSON.parse(data.LookupJsonData));

                                    // Show successfully updated message
                                    ModalManager.showInformationModal("The lookup successfully updated");

                                    // Close the main modal (lookup modal)
                                    // Important Note: We cached the edit lookup modal inside a variable to close it here
                                    editLookupModal.close();
                                    break;
                                case 2:
                                    ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmLookup").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    };

</script>