﻿@using SiteManagement.Models;
@model TechnologyUsedModel

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    @Html.Partial("~/Views/Lookup/_PartialTechnologyUsed.cshtml", Model)
</div>
<br />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" id="btnEditTechnologyUsed" class="btn btn-primary">Edit</button>
    <button type="button" id="btnCancel" class="btn btn-primary">Cancel</button>
</div>

<script>

    // Disable the technology used type on edit mode
    $("#loopupType").attr("disabled", "disabled");

    $("#btnEditTechnologyUsed").click(function () {
        onEditTechnologyUsedButtonClick();
    });

    $('#btnCancel').click(function () {
        editTechnologyUsedModal.close();
    });

    function onEditTechnologyUsedButtonClick() {
        var isFormValid = $("#frmTechnologyUsed").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            // Show add contract confirm message
            ModalManager.showConfirmModal("Are you sure you want to edit this technology used?", null, function (modal) {
                var formData = $("#frmTechnologyUsed").serializeArray();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveTechnologyUsed", "Lookup")',
                    data: formData,
                    success:
                        function (data) {
                            switch (data.MessageType) {
                                case 1:
                                    // Edit the updated technology used in technologies used grid
                                    editTechnologyUsedGridRow(JSON.parse(data.TechnologyUsedJsonData));

                                    // Show successfully updated message
                                    ModalManager.showInformationModal("The technology used successfully updated");

                                    // Close the main modal (technology used modal)
                                    // Important Note: We cached the edit technology used modal inside a variable to close it here
                                    editTechnologyUsedModal.close();
                                    break;
                                case 2:
                                    ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                    break;
                                case 3:
                                    // Show server validation errors
                                    var validator = $("#frmTechnologyUsed").data("validator");
                                    var errors = $.parseJSON(data.errors);
                                    validator.showErrors(errors);
                                    break;
                            }
                        },
                    error: function (data) {
                    },
                    beforeSend: function () {
                        $('body').jLoadingOverlay('');
                    },
                    complete: function () {
                        $('body').jLoadingOverlay('close');
                    }
                });

                modal.close();
            });
        }
    };

</script>