﻿<table id="lookupTable" class="hover">
    <thead>
        <tr>
            <th>Lookup Type</th>
            <th>Display Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    @Html.JsMinify(@<text>
    var lookupTable;

    var lookupGridData = @Html.Raw(ViewData["LookupData"]);

    var currentClickedRow;
    $(document).ready(function () {
        lookupTable = $("#lookupTable").dataTable({
            responsive: true,
            data: lookupGridData,
            columns: [
                { data: 'type' },
                { data: 'displayName' },
                { data: 'button' }
            ],
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<div class='btn btn-primary btn-edit'>Edit</div>"
            }]
        });

        lookupTable.find('tbody').on('click', '.btn-edit', function () {
            currentClickedRow = lookupTable.api().row($(this).parents('tr'));
            var rowData = currentClickedRow.data();
            onEditLookupBtnClick(rowData);
        });
    });

    function addLookupGridRow(rowData) {
        lookupTable.fnAddData([rowData]);
    };

    function editLookupGridRow(rowData) {
        lookupTable.api().row(currentClickedRow).data(rowData).invalidate();
        currentClickedRow = null;
    };

    function onEditLookupBtnClick(rowData) {
        // This method will open a popup with partial edit lookup view
        $.ajax({
            type: 'post',
            url: '@Url.Action("EditLookup", "Lookup")',
            data: { lookupId: rowData.id },
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        // Important Note: We cached the edit lookup modal inside a variable to close it when edit lookup button click
                        editLookupModal = ModalManager.showModal(data.Content, 'Edit Lookup', null, { fullscreen: true });
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    };

    </text>)
</script>