﻿<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="button" id="addTechnologyUsed" class="btn btn-primary">Add New Technology Used</button>
            </div>
            <br /><br /><br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    @Html.Partial("~/Views/Lookup/TechnologyUsedGrid.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // On add technology used button click
    var addTechnologyUsedModal;
    $("#addTechnologyUsed").click(function () {
        // This method will open a popup with partial technology used view
        $.ajax({
            type: 'post',
            url: '@Url.Action("NewTechnologyUsed", "Lookup")',
            data: null,
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        // Important Note: We cached the new technology used modal inside a variable to close it when add technology used button click
                        addTechnologyUsedModal = ModalManager.showModal(data.Content, 'New Technology Used', null, { fullscreen: true });
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    });

    //</text>)
</script>


