﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Manage Lookups</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <br />
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="button" id="addLookup" class="btn btn-primary">Add New Lookup</button>
                                <button type="button" id="manageTechnologiesUsed" class="btn btn-primary">Manage Technologies Used</button>
                            </div>
                            <br /><br /><br />
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive">
                                    @Html.Partial("~/Views/Lookup/LookupGrid.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br />

<script>
    // On add lookup button click
    var addLookupModal;
    $("#addLookup").click(function () {
        // This method will open a popup with partial lookup view
        $.ajax({
            type: 'post',
            url: '@Url.Action("NewLookup", "Lookup")',
            data: null,
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        // Important Note: We cached the new lookup modal inside a variable to close it when add lookup button click
                        addLookupModal = ModalManager.showModal(data.Content, 'New Lookup', null, { fullscreen: true });
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    });


    $("#manageTechnologiesUsed").click(function () {
        // This method will open a popup with partial lookup view
        $.ajax({
            type: 'post',
            url: '@Url.Action("ManageTechnologiesUsed", "Lookup")',
            data: null,
            success:
            function (data) {
                switch (data.MessageType) {
                    case 1:
                        // Important Note: We cached the new technologies used modal inside a variable to close it when add lookup button click
                        ModalManager.showModal(data.Content, 'Manag Technologies Used', null, { fullscreen: true });
                        break;
                    case 2:
                        ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                        break;
                }
            },
            beforeSend: function () {
                $('body').jLoadingOverlay('');
            },
            complete: function () {
                $('body').jLoadingOverlay('close');
            }
        });
    });

    //</text>)
</script>


