﻿<div>
    <table id="technologyUsedTable" class="hover">
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Average Cost</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script>
    @Html.JsMinify(@<text>
        var technologyUsedTable;

        var technologyUsedGridData = @Html.Raw(ViewData["TechnologyUsedData"]);

        var currentClickedRow;
        $(document).ready(function () {
            if (!technologyUsedTable) {
                technologyUsedTable = $("#technologyUsedTable").dataTable({
                    responsive: true,
                    data: technologyUsedGridData,
                    columns: [
                        { data: 'displayName' },
                        { data: 'averageCost' },
                        { data: 'button' }
                    ],
                    "columnDefs": [{
                        "targets": -1,
                        "data": null,
                        "defaultContent": "<div class='btn btn-primary btn-edit'>Edit</div>"
                    }]
                });

                technologyUsedTable.find('tbody').on('click', '.btn-edit', function () {
                    currentClickedRow = technologyUsedTable.api().row($(this).parents('tr'));
                    var rowData = currentClickedRow.data();
                    onEditTechnologyUsedBtnClick(rowData);
                });
            }
        });

        function addTechnologyUsedGridRow(rowData) {
            technologyUsedTable.fnAddData([rowData]);
        };

        function editTechnologyUsedGridRow(rowData) {
            technologyUsedTable.api().row(currentClickedRow).data(rowData).invalidate();
            currentClickedRow = null;
        };

        function onEditTechnologyUsedBtnClick(rowData) {
            // This method will open a popup with partial edit technology used view
            $.ajax({
                type: 'post',
                url: '@Url.Action("EditTechnologyUsed", "Lookup")',
                data: { technologyUsedId: rowData.id },
                success:
                function (data) {
                    switch (data.MessageType) {
                        case 1:
                            // Important Note: We cached the edit technology used modal inside a variable to close it when edit technology used button click
                            editTechnologyUsedModal = ModalManager.showModal(data.Content, 'Edit Technology Used', null, { fullscreen: true });
                            break;
                        case 2:
                            ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                            break;
                    }
                },
                beforeSend: function () {
                    $('body').jLoadingOverlay('');
                },
                complete: function () {
                    $('body').jLoadingOverlay('close');
                }
            });
        };

        </text>)
    </script>
</div>