﻿@using SiteManagement.Models;
@model ReportModel

<div>
    @using (Html.BeginForm("Export", "Report", FormMethod.Post, new { id = "frmReport", @class = "form-horizontal", target = "_blank" }))
    {
        <div class="form-group">
            @Html.CustomLabelFor(model => model.ReportType, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Select2For(model => model.ReportType, ViewData["ReportTypes"] as IEnumerable<SelectListItem>,
                                        "Choose a report type", true, new { @class = "form-control", id = "reportTypeSelect" })
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.ValidationMessageFor(model => model.ReportType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button type="button" id="btnExport" class="btn btn-primary">Export</button>
    </div>
</div>

<script>
    @Html.JsMinify(@<text>

    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#frmReport"));
    });

    $("#btnExport").click(function () {
        var isFormValid = $("#frmReport").valid();

        if (!isFormValid) {
            // Show an error message
            ModalManager.showErrorModal("Please fill the required fields");
        } else {
            $.ajax({
                type: 'post',
                url: '@Url.Action("Export", "Report")',
                data: $("#frmReport").serializeArray(),
                success:
                    function (data) {
                        switch (data.MessageType) {
                            case 1:
                                window.location = data.Url;
                                break;
                            case 2:
                                ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                break;
                            case 3:
                                // Show server validation errors
                                var validator = $("#frmReport").data("validator");
                                var errors = $.parseJSON(data.errors);
                                validator.showErrors(errors);
                                break;
                        }
                    },
                error: function (data) {
                },
                beforeSend: function () {
                    $('body').jLoadingOverlay('');
                },
                complete: function () {
                    $('body').jLoadingOverlay('close');
                }
            });
        }
    });

    </text>)
</script>
