﻿@using SiteManagement.Models;
@model UserLoginModel
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section scripts{
    <link href="~/Content/login.css" rel="stylesheet" />
}

<div class="container">
    <div class="pen-title">
        <img src="~/Content/Images/logo.png" />
        <div class="site-name">Site Acquisition</div>
    </div>
    <!-- Form Module-->
    <div class="module form-module">
        <div class="toggle">
            <i class="fa fa-user"></i>
        </div>
        <div class="form">
            <h2>Login to your account</h2>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "frmLogin" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("returnUrl", ViewData["ReturnUrl"])

                <div class="input-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBoxFor(m => m.Username, new { id = "userName", @class = "form-control", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>

                <div class="input-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.PasswordFor(m => m.Password, new { id = "password", @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            }

            <div class="message-container col-lg-12 col-md-12 col-sm-12 col-xs-12" ">
                <span id="spnMessage" class="text-danger"></span>
            </div>

            <button type="button" id="btnSignIn" class="btn btn-primary btn-block btn-flat">Login</button>
        </div>
        <div class="cta"></div>
    </div>
</div>

<script>

    $(document).on("keyup", '#userName, #password', function (e) {
        if (e.which == 13) {
            $("#btnSignIn").click();
        }
    });

    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#frmLogin"));
    });

    $("#btnSignIn").click(function () {
        var isValid = $("#frmLogin").valid();

        if (isValid) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("Login", "Account")',
                data: $("#frmLogin").serializeArray(),
                success:
                    function (data) {
                        $("#spnMessage").html("");

                        switch (data.MessageType) {
                            case 2:
                                ModalManager.showErrorModal("There is an error accured, please contact the system administrator");
                                break;
                            case 3:
                                // Show server validation errors
                                var validator = $("#frmLogin").data("validator");
                                var errors = $.parseJSON(data.errors);
                                validator.showErrors(errors);
                                break;
                            case 4:
                                $("#spnMessage").html(data.MessageText);
                                break;
                        }
                    },
                error: function (data) {
                },
                beforeSend: function () {
                    $('body').jLoadingOverlay('');
                },
                complete: function () {
                    $('body').jLoadingOverlay('close');
                }
            });
        }
    });
</script>


