﻿@using SiteManagement.Models;
@model LogModel

<div class="action-log-container">
    <div class="row">
        @Html.CustomLabelFor(model => model.CreatedBy, new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" })
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            @Html.DisplayFor(model => model.CreatedBy, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        @Html.CustomLabelFor(model => model.CreatedDate, new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" })
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            @Html.DisplayFor(model => model.CreatedDate, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        @Html.CustomLabelFor(model => model.LastUpdatedBy, new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" })
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            @Html.DisplayFor(model => model.LastUpdatedBy, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        @Html.CustomLabelFor(model => model.LastUpdateDate, new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" })
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            @Html.DisplayFor(model => model.LastUpdateDate, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        @Html.CustomLabelFor(model => model.PartialApprovedBy, new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" })
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            @Html.DisplayFor(model => model.PartialApprovedBy, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        @Html.CustomLabelFor(model => model.PartialApprovedDate, new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" })
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            @Html.DisplayFor(model => model.PartialApprovedDate, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        @Html.CustomLabelFor(model => model.ApprovedBy, new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" })
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            @Html.DisplayFor(model => model.ApprovedBy, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        @Html.CustomLabelFor(model => model.ApprovedDate, new { @class = "control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" })
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            @Html.DisplayFor(model => model.ApprovedDate, new { @class = "form-control" })
        </div>
    </div>
</div>